<div class="row">
    <div class="col-xs-12">
        <div class="pdfHeader formHeader group" id="divHeader">
            <div class="pdfBorder">
                <h1>Departementet for Fiskeri og Fangst</h1>
                <div class="pdfContact" style="float:left; padding-right:50px; display:inline-block;">Telefon: <a href="tel:+299345000" style="cursor:text; text-decoration:none;">(+299) 34 50 00</a><br>
                    E-mail: <a shape="rect" href="mailto:apn@nanoq.gl">apn@nanoq.gl</a></div>
                <div class="pdfContact" style="float:right; display:inline-block;">Adresse: Imaneq 1A, 701<br>
                    By: Nuuk</div>
            </div>
        </div>
    </div>
</div>
