<table class="table table-bordered table-hover text-center table-sm">
    <thead>
    <tr>
        <th>Dato</th>
        <th>Fartøjs navn</th>
        <th>Produkt</th>
        <th>Mængde produktionvægt</th>
        <th>Omregningsfaktor</th>
        <th>Mængde levende vægt</th>
        <th>Salgsværdi</th>
        <th>Transporttillæg</th>
        <th>Salgsværdi i alt / afgiftsgrundlag</th>
        <th>Afgifssats</th>
        <th>Afgift til betaling</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10/11-24</td>
        <td>MS Unsinkable II</td>
        <td class="text-left">Eksport / Rejer - fisket ved Svalbard og i Barenshavet / Rå, isede</td>
        <td class="table-dark">-</td>
        <td class="table-dark">-</td>
        <td class="table-dark">-</td>
        <td>50000</td>
        <td>10000</td>
        <td>60000</td>
        <td>8%</td>
        <td class="font-weight-bold">4800</td>
    </tr>
    <tr data-category="Indhandling">
        <td>10/14-24</td>
        <td>MS Unsinkable II</td>
        <td class="text-left">Indhandling / Torsk - fra havgående / Uden hoved, uden involde - straight cut off</td>
        <td>26000</td>
        <td>1.55</td>
        <td>40300</td>
        <td class="table-dark">-</td>
        <td class="table-dark">-</td>
        <td class="table-dark">-</td>
        <td class="rate-cell">0.05 kr./kg</td>
        <td class="calculated-tax font-weight-bold">2015</td>
    </tr>
    </tbody>
</table>
