{% load i18n %}
<table class="table table-bordered text-center table-sm">
    <thead>
    <tr>
        {% if skema_id == 2 or skema_id == 3 %}
        <th>{% translate 'Indhandlingssted' %}</th>
        {% endif %}
        {% if skema_id == 1 or skema_id == 2 %}
        <th>{% translate 'Fartøjs navn' %}</th>
        {% endif %}
        <th>{% translate 'Produkttype'%}</th>
        {% if skema_id == 1 or skema_id == 2 %}
        <th>{% translate 'Produktvægt (kg)'%}</th>
        {% endif %}
        <th>{% translate 'Levende vægt (kg)'%}</th>
        {% if skema.id == 1 %}
        <th>{% translate 'Omsætning (kr)'%}</th>
        <th>{% translate 'Transporttillæg (kr)' %}</th>
        {% elif skema.id == 2 or skema.id == 3 %}
        <th>{% translate 'Indhandlingsværdi (kr)'%}</th>
        <th>{% translate 'Bonus og andet vederlag (kr)' %}</th>
        {% endif %}
        <th>{% translate 'Afgiftssats' %}</th>
        <th>{% translate 'Beregnet afgift (kr)' %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for linje in object_list %}
    <tr>
        {% if skema_id == 2 or skema_id == 3 %}
        <td data-key="indhandlingssted" data-value="{{linje.indhandlingssted.pk}}">{{linje.indhandlingssted|default_if_none:''}}</td>
        {% endif %}
        {% if skema_id == 1 or skema_id == 2 %}
        <td data-key="fartøj_navn">{{linje.fartøj_navn|default_if_none:''}}</td>
        {% endif %}
        <td data-key="produkttype" data-value="{{linje.produkttype.pk}}">{{ linje.produkttype }}</td>
        {% if skema_id == 1 or skema_id == 2 %}
        <td data-key="produktvægt">{{ linje.produktvægt }}</td>
        {% endif %}
        <td data-key="levende_vægt">{{ linje.levende_vægt }}</td>
        <td data-key="salgspris">{{ linje.salgspris|default_if_none:'' }}</td>
        {% if skema_id == 1 %}
        <td data-key="transporttillæg">{{ linje.transporttillæg|default_if_none:'' }}</td>
        {% elif skema_id == 2 or skema_id == 3 %}
        <td data-key="bonus">{{ linje.bonus|default_if_none:'' }}</td>
        {% endif %}
        <td>{{linje.fangstafgift.rate_string}}</td>
        <td>{{linje.afgift}}</td>
        <td><button class="btn btn-primary button_modregn">{% translate "Modregn" %}</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
