{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% blocktranslate with periode=periode %}Satstabel for Afgiftsperiode {{ periode }} {% endblocktranslate %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.management_form }}
    <div class="row">
        <div class="col-1">
            <a class="btn btn-secondary" href="{% url 'administration:afgiftsperiode-list' %}">{% trans 'Tilbage' %}</a>
        </div>
    </div>
    {% for item in form.forms_by_skematype %}
    {% with skematype=item.skematype subforms=item.forms %}
    <h2>
        {% blocktrans with id=skematype.id %}Skematype {{id}}{% endblocktrans %}
    </h2>
    <p>
        {{ skematype }}
    </p>
    <table id="satstabel" class="table">
        <thead>
            <tr>
                <th>{% translate 'Fiskeart' %}</th>
                <th>{% translate 'Grønlandsk fartøj' %}</th>
                <th>{% translate 'Afgift, kr pr. kg' %}</th>
                <th>{% translate 'Afgift, procent af salgspris' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for subform in subforms %}
        {{subform.errors}}
        {% with instance=subform.instance %}
            <tr>
                <td>
                    {{ subform.id }}
                    {{ subform.skematype }}
                    {{ subform.fiskeart }}
                    {{ instance.fiskeart }}
                </td>
                <td>
                    {{ subform.fartoej_groenlandsk }}
                    {{ instance.fartoej_groenlandsk|janej|default_if_none:''|capfirst }}
                </td>
                <td class="switchcolumn prkg">{{ subform.rate_pr_kg }}</td>
                <td class="switchcolumn pct">{{ subform.rate_procent }}</td>
                <td>
                    {% if subform.id.value %}
                    <a class="btn btn-primary" href="{% url 'administration:satstabelelement-history' subform.id.value %}">
                        {% translate 'Historik' %}
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    {% endwith %}
    {% endfor %}
    <a class="btn btn-secondary" href="{% url 'administration:afgiftsperiode-list' %}">
        {% translate 'Annullér' %}
    </a>
    <button class="btn btn-primary" type="submit">{% translate 'Gem' %}</button>
</form>
<script>
    $('.type_select').change(function (){
        const className = $(this).val();
        const columns = $(this).parents("tr").find(".switchcolumn");
        if (className) {
            columns.filter("." + className).find("input").removeAttr("disabled");
            columns.not("." + className).find("input").attr("disabled", "disabled");
        } else {
            columns.find("input").attr("disabled", "disabled");
        }
    });
    $("#satstabel tbody tr").each(function(){
        const tr = $(this);
        const types = ['prkg_indhandling_export', 'prkg_groenland_udenlandsk', 'pct_indhandling_export'];
        const select = tr.find(".type_select");
        let found = false;
        types.forEach(function(type){
            tr.find("."+type+" input").each(function(){
                if (this.value) {
                    select.find("option[value='"+type+"']").prop("selected", true);
                    select.change();
                    found = true;
                    return false;
                }
            });
        });
        if (!found) {
            select.find("option[value='']").prop("selected", true);
            select.change();
        }
    });
</script>
{% endblock %}
