{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Afgiftsperioder' %}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{% translate 'Periodenavn' %}</th>
            <th>{% translate 'Handlinger' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for periode in object_list %}
        <tr>
            <td>
                {{ periode.navn }}
            </td>
            <td>
                <a class="btn btn-primary" href="{% url 'administration:afgiftsperiode-update' pk=periode.pk %}">{% translate 'Redigér' %}</a>
                <a class="btn btn-primary" href="{% url 'administration:afgiftsperiode-satstabel' pk=periode.pk %}">{% translate 'Satstabel' %}</a>
                <a class="btn btn-primary" href="{% url 'administration:afgiftsperiode-history' pk=periode.pk %}">{% translate 'Historik' %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-secondary" href="{% url 'administration:afgiftsperiode-create' %}">{% translate 'Opret ny' %}</a>

{% endblock %}
