{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% blocktranslate with periode=periode %}Satstabel for Afgiftsperiode {{ periode }} {% endblocktranslate %}</h1>

<p class="help">
    {% blocktranslate %}
        På denne side kan afgiftsperiodens satstabel defineres.
        Hver linje viser en fiskeart, evt. opdelt i grønlandsk/ikke-grønlandsk fartøj, og der kan vælges enten en afgift i procent eller en afgift pr. kg.
        Det er kun fiskearter med produkttyper hvor grønlandsk/ikke-grønlandsk fartøj er relevant, der opdeles i disse to kategorier her.
    {% endblocktranslate %}
</p>

<form method="post">
    {% csrf_token %}
    {{ form.management_form }}
    {% for item in form.forms_by_skematype %}
    {% with skematype=item.skematype subforms=item.forms %}
    <h2>
        {% blocktranslate with id=skematype.id %}Skematype {{id}}{% endblocktranslate %}
    </h2>
    <p>
        {{ skematype }}
    </p>
    <table id="satstabel" class="table">
        <thead>
            <tr>
                <th class="col-3">{% translate 'Fiskeart' %}</th>
                <th class="col-2">{% translate 'Grønlandsk fartøj' %}</th>
                <th class="col-2">{% translate 'Afgiftstype' %}</th>
                <th class="col-2">{% translate 'Afgift, kr pr. kg' %}</th>
                <th class="col-2">{% translate 'Afgift, procent af salgspris' %}</th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for subform in subforms %}
        {% with instance=subform.instance %}
            <tr>
                <td>
                    {{ subform.id }}
                    {{ subform.skematype }}
                    {{ subform.fiskeart }}
                    {{ instance.fiskeart }}
                </td>
                <td>
                    {{ subform.fartoej_groenlandsk }}
                    {{ instance.fartoej_groenlandsk|janej|default_if_none:''|capfirst }}
                </td>
                <td>
                    <select class="type_select form-control">
                        <option value="prkg">{% translate 'Pr. kg.' %}</option>
                        <option value="pct">{% translate 'Procent' %}</option>
                    </select>
                </td>
                <td class="switchcolumn prkg">{{ subform.rate_pr_kg }}</td>
                <td class="switchcolumn pct">{{ subform.rate_procent }}</td>
                <td>
                    {% if subform.id.value %}
                    <a class="btn btn-primary" href="{% url 'administration:satstabelelement-history' subform.id.value %}">
                        {% translate 'Historik' %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% if subform.non_field_errors %}
            <tr>
                <td colspan="2"></td>
                <td colspan="3">
                    <div class="invalid-feedback d-block">
                    {{subform.non_field_errors}}
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    {% endwith %}
    {% endfor %}
    <a class="btn btn-secondary" href="{% url 'administration:afgiftsperiode-list' %}">
        {% translate 'Annullér' %}
    </a>
    <button type="submit" class="btn btn-primary" name="check_inputs">{% translate 'Gem' %}</button>

    <div id="warningModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% translate 'Advarsel' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% translate 'Der er fiskearter hvor afgiftssatsen er nul. Disse fiskearter vil ikke blive afgiftsbelagt. Er du sikker på at det er meningen?' %}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="really_submit">{% translate 'Ja' %}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Nej' %}</button>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    $('.type_select').change(function (){
        const className = $(this).val();
        const columns = $(this).parents("tr").find(".switchcolumn");
        if (className) {
            columns.filter("." + className).find("input").removeAttr("disabled");
            columns.not("." + className).find("input").attr("disabled", "disabled");
        } else {
            columns.find("input").attr("disabled", "disabled");
        }
    });
    $("#satstabel tbody tr").each(function(){
        const tr = $(this);
        const types = ['prkg', 'pct'];
        const select = tr.find(".type_select");
        let found = false;
        types.forEach(function(type){
            tr.find("."+type+" input").each(function(){
                if (this.value) {
                    select.find("option[value='"+type+"']").prop("selected", true);
                    select.change();
                    found = true;
                    return false;
                }
            });
        });
        if (!found) {
            select.find("option[value='']").prop("selected", true);
            select.change();
        }
    });
    $('form').on('submit', function(event){
        if ($(event.originalEvent.submitter).attr('name') !== 'really_submit') {
            let allSet = true;
            $('form input:not(:disabled):not([type=hidden])').each(function () {
                if (!parseFloat(this.value)) {
                    allSet = false;
                    return false;  // Break out of each()
                }
            });
            if (!allSet) {
                $('#warningModal').modal();
                event.preventDefault();
                return false;  // Exit submit event without submitting
            }
        }
    });
</script>
{% endblock %}
