{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Afgiftsperioder' %}</h1>

<a class="btn btn-success" href="{% url 'administration:afgiftsperiode-create' %}">{% translate 'Opret ny' %}</a>
<table class="table">
    <thead>
        <tr>
            <th class="col-2">{% translate 'Dansk navn' %}</th>
            <th class="col-2">{% translate 'Grønlandsk navn' %}</th>
            <th class="col-2">{% translate 'Dato fra' %}</th>
            <th class="col-2">{% translate 'Dato til' %}</th>
            <th class="col-1">{% translate 'Vis i indberetning' %}</th>
            <th class="col-2">{% translate 'Handlinger' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for periode in object_list %}
        <tr>
            <td>
                {{ periode.navn_dk }}
            </td>
            <td>
                {{ periode.navn_gl }}
            </td>
            <td>
                {{ periode.dato_fra }}
            </td>
            <td>
                {{ periode.dato_til }}
            </td>
            <td>
                {{ periode.vis_i_indberetning|yesno|capfirst }}
            </td>
            <td>
                <a class="btn btn-primary" href="{% url 'administration:afgiftsperiode-update' pk=periode.pk %}">{% translate 'Redigér' %}</a>
                <a class="btn btn-primary" href="{% url 'administration:afgiftsperiode-satstabel' pk=periode.pk %}">{% translate 'Satstabel' %}</a>
                <a class="btn btn-primary" href="{% url 'administration:afgiftsperiode-history' pk=periode.pk %}">{% translate 'Historik' %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
