{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static "css/ressourcerenter.css" %}">
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <title>{% translate 'Administration af ressourcerenter' %}</title>
</head>
<body>
<main role="main">

    {% if user.is_authenticated %}
    <nav class="nav d-flex p-2">
        <a class="p-2 text-muted" href="{% url 'administration:afgiftsperiode-list' %}">{% translate 'Afgiftsperioder' %}</a>
        <a class="p-2 text-muted" href="{% url 'administration:fiskeart-list' %}">{% translate 'Fiskearter' %}</a>
        <a class="p-2 text-muted" href="{% url 'administration:produkttype-list' %}">{% translate 'Produkttyper' %}</a>
        <a class="p-2 text-muted" href="{% url 'administration:indberetning-list' %}">{% translate 'Indberetninger' %}</a>
    </nav>
    <hr class="p-0 m-0">
    {% endif %}

    <div class="row justify-content-center mt-2">
        {% block alert %}{% endblock %}
    </div>

    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>
