{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" nonce="{{request.csp_nonce}}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" nonce="{{request.csp_nonce}}">
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}" nonce="{{request.csp_nonce}}">
    <link rel="stylesheet" href="{% static 'css/ressourcerenter.css' %}" nonce="{{request.csp_nonce}}">
    <script src="{% static 'js/jquery.slim.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static 'js/select2.full.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static 'js/htmx.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script nonce="{{request.csp_nonce}}">
        htmx.config.selfRequestsOnly = true;
        htmx.config.allowScriptTags = false;
        htmx.config.allowEval = false;
        htmx.config.includeIndicatorStyles = false;
    </script>
    <title>{% translate 'Administration af ressourcerenter' %}</title>
</head>
<body>
<main role="main" class="admin">

    {% translate 'Administration' as administration %}
    {% include 'administration/navigation.html' with app_name=administration %}

    {% block alert %}
    {% if messages %}
    <div class="row justify-content-center mt-2">
        {% for message in messages %}
        <div class="alert text-center {% if message.level == 20 %}alert-info
                                  {% elif message.level == 25 %}alert-success
                                  {% elif message.level == 30 %}alert-warning
                                  {% elif message.level == 40 %}alert-danger
                                  {% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}

    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>
