{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Faktura' %}</h1>

<div class="row">

    <div class="col-4">
        <h2>{% translate 'Fakturadata' %}</h2>
        <table class="table table-bordered table-sm">
            <tbody>
            <tr>
                <th class="col-4">{% translate 'Afgiftsperiode' %}</th>
                <td>{{ object.periode|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Oprettet af' %}</th>
                <td>{{ object.opretter|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Oprettelsesdato' %}</th>
                <td>{{ object.oprettet|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Opkrævningsdato' %}</th>
                <td>{{ object.opkrævningsdato|default_if_none:object.betalingsdato }}</td>
            </tr>
            <tr>
                <th>{% translate 'Betalingsdato' %}</th>
                <td>{{ object.betalingsdato|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Total beregnet afgift (kr)' %}</th>
                <td>{{ object.beløb|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Fakturanummer' %}</th>
                <td>{{ object.pk }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-4">
        <h2><a href="{% url 'administration:virksomhed-update' object.virksomhed.uuid %}">{% translate 'Virksomhed' %}</a></h2>
        <table class="table table-bordered table-sm">
            <tbody>
            <tr>
                <th class="col-4">{% translate 'Navn' %}</th>
                <td>{{ object.virksomhed.navn|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th class="col-4">{% translate 'CVR' %}</th>
                <td>{{ object.virksomhed.cvr }}</td>
            </tr>
            <tr>
                <th>{% translate 'Kontaktperson' %}</th>
                <td>{{ object.virksomhed.kontakt_person|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Email' %}</th>
                <td>{{ object.virksomhed.kontakt_email|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Telefon' %}</th>
                <td>{{ object.virksomhed.kontakts_phone_nr|default_if_none:'' }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-4">
        <h2>{% translate 'Prisme-overførsel' %}</h2>
        {% translate 'Nej' as nej %}
        <table class="table table-bordered table-sm">
            <tbody>
            <tr>
                <th class="col-4">{% translate 'Oprettet' %}</th>
                <td>{{ object.batch.oprettet_tidspunkt|default:nej }}</td>
            </tr>
            <tr>
                <th class="col-4">{% translate 'Leveret til Prisme' %}</th>
                <td>{{ object.batch.leveret_tidspunkt|default:nej }}</td>
            </tr>
            <tr>
                <th class="col-4">{% translate 'Overførselsstatus' %}</th>
                <td>{{ object.batch.get_status_display }}</td>
            </tr>
            <tr>
                <th>{% translate 'Fejl fra prisme' %}</th>
                <td>{{ object.batch.fejlbesked|default:nej }}</td>
            </tr>
            <tr>
                <th>{% translate 'Bogført' %}</th>
                <td>{{ object.bogført|default_if_none:nej }}</td>
            </tr>
            <tr>
                <th>{% translate 'Afsending' %}</th>
                <td>
                    <form action="{% url 'administration:faktura-send' object.batch.pk %}" method="post">
                        {% csrf_token %}
                        {% if destinations_available.10q_production %}
                        {% if object.batch.status == 'created' or object.batch.status == 'failed' %}
                        <button class="btn btn-sm btn-success" type="submit" name="destination" value="10q_production">{% translate 'Send til produktion' %}</button>
                        {% endif %}
                        {% endif %}
                        {% if destinations_available.10q_development %}
                        <button class="btn btn-sm btn-success" type="submit" name="destination" value="10q_development">{% translate 'Send til uddannelsesmiljø' %}</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">

    {% with linje=object.linje %}
    <div class="col-4">
        <h2><a href="{% url 'administration:indberetning-detail' linje.indberetning.uuid %}">{% translate 'Indberetningslinje' %}</a></h2>
        <table class="table table-bordered table-sm">
            <tbody>
            <tr>
                <th>{% translate 'Indhandlingssted' %}</th>
                <td>{{ linje.indhandlingssted|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Fartøj' %}</th>
                <td>{{ linje.fartøj_navn|default_if_none:'' }}</td>
            </tr>
            <tr>
                <th>{% translate 'Fangsttype' %}</th>
                <td>{{ linje.fangsttype_display }}</td>
            </tr>
            <tr>
                <th>{% translate 'Produkttype' %}</th>
                <td>{{ linje.produkttype }}</td>
            </tr>
            <tr>
                <th>{% translate 'Produktvægt (kg)' %}</th>
                <td>{{ linje.produktvægt }}</td>
            </tr>
            <tr>
                <th>{% translate 'Levende vægt/helfisk mængde (kg)' %}</th>
                <td>{{ linje.levende_vægt }}</td>
            </tr>
            <tr>
                <th>{% translate 'Omsætning / Indhandlingsværdi (kr)' %}</th>
                <td>{{ linje.salgspris }}</td>
            </tr>
            <tr>
                <th>{% translate 'Afgiftssats' %}</th>
                <td>{{ linje.fangstafgift.rate_string }}</td>
            </tr>
            <tr>
                <th>{% translate 'Beregnet afgift (kr)' %}</th>
                <td>{{ linje.afgift }}</td>
            </tr>
            <tr>
                <th>{% translate 'Kommentar' %}</th>
                <td>{{ linje.kommentar }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    {% endwith %}

    <div class="col-4">
        <h2>{% translate 'G69-data' %}</h2>
        {% for g69_line in g69 %}
        <table class="table table-bordered table-sm">
            <tbody>
            {% for key, value in g69_line.items %}
            <tr>
                <th>{{key}}</th>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>

    <div class="col-4">
        <h2>{% translate '10Q-data' %}</h2>
        {% for tenQ_line in tenQ %}
        <table class="table table-bordered table-sm">
            <tbody>
            {% for key, value in tenQ_line.items %}
            <tr>
                <th class="col-5">{{key}}</th>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>

</div>

{% endblock %}
