{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>
    {% if creating %}
    {% translate 'Opret Fiskeart' %}
    {% else %}
    {% translate 'Redigér Fiskeart' %}
    {% endif %}
</h1>

<p class="help">
    {% blocktranslate %}
    På denne side kan fiskearten specificeres.
    Fiskearter bør kun redigeres når det er absolut nødvendigt.
    Om en fiskeart er pelagisk har indflydelse på om salgsprisen er påkrævet ved indberetning, og hvilke enhedsfelter der kan vælges på statistik-siden.
    {% endblocktranslate %}
</p>

<form method="post">
    {% csrf_token %}

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_dk.id_for_label }}">{% translate 'Dansk navn' %}:</label>
        </div>
        <div class="col-4">
            {{ form.navn_dk }}
        </div>
        <div class="col-6">
            {{ form.navn_dk.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_gl.id_for_label }}">{% translate 'Grønlandsk navn' %}:</label>
        </div>
        <div class="col-4">
            {{ form.navn_gl }}
        </div>
        <div class="col-6">
            {{ form.navn_gl.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.beskrivelse.id_for_label }}">{% translate 'Beskrivelse' %}:</label>
        </div>
        <div class="col-4">
            {{ form.beskrivelse }}
        </div>
        <div class="col-6">
            {{ form.beskrivelse.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.pelagisk.id_for_label }}">{% translate 'Pelagisk' %}:</label>
        </div>
        <div class="col-4">
            {{ form.pelagisk }}
        </div>
        <div class="col-6">
            {{ form.pelagisk.errors }}
        </div>
    </div>


    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.skematype.id_for_label }}">{% translate 'Relevante skematyper' %}:</label>
            <br/>
            <small class="text-muted">{% translate 'Hold ctrl/cmd nede for at vælge flere' %}</small>
        </div>
        <div class="col-4">
            {{ form.skematype }}
        </div>
        <div class="col-6">
            {{ form.skematype.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.g69_overstyringskode.id_for_label }}">{% translate 'G69-mellemregningskonto' %}:</label>
        </div>
        <div class="col-4">
            {{ form.g69_overstyringskode }}
        </div>
        <div class="col-6">
            {{ form.g69_overstyringskode.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.betalingsart.id_for_label }}">{% translate '10Q-betalingsart' %}:</label>
        </div>
        <div class="col-4">
            {{ form.betalingsart }}
        </div>
        <div class="col-6">
            {{ form.betalingsart.errors }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% translate 'Gem' %}</button>
</form>
{% endblock %}
