{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>
    {% if creating %}
    {% translate 'Opret Fiskeart' %}
    {% else %}
    {% translate 'Redigér Fiskeart' %}
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_dk.id_for_label }}">{% translate 'Dansk navn:' %}</label>
        </div>
        <div class="col-4">
            {{ form.navn_dk }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_gl.id_for_label }}">{% translate 'Grønlandsk navn:' %}</label>
        </div>
        <div class="col-4">
            {{ form.navn_gl }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.beskrivelse.id_for_label }}">{% translate 'Beskrivelse:' %}</label>
        </div>
        <div class="col-4">
            {{ form.beskrivelse }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% translate 'Gem' %}</button>
</form>
{% endblock %}
