{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Indberetning' %}</h1>

<table class="table table-bordered table-sm" style="width: auto;">
    <tbody>
    <tr>
        <th>{% translate 'Afgiftsperiode' %}</th>
        <td>{{ object.afgiftsperiode }}</td>
    </tr>
    <tr>
        <th>{% translate 'Indberetningstidspunkt' %}</th>
        <td>{{ object.indberetningstidspunkt }}</td>
    </tr>
    <tr>
        <th>{% translate 'Skematype' %}</th>
        <td>{{ object.skematype.navn_dk }}</td>
    </tr>
    <tr>
        <th>{% translate 'CVR' %}</th>
        <td>{{ object.virksomhed.cvr }}</td>
    </tr>
    <tr>
        <th>{% translate 'Kontaktperson' %}</th>
        <td>{{ object.virksomhed.kontakt_person }}</td>
    </tr>
    <tr>
        <th>{% translate 'Email' %}</th>
        <td>{{ object.virksomhed.kontakt_email }}</td>
    </tr>
    <tr>
        <th>{% translate 'Telefon' %}</th>
        <td>{{ object.virksomhed.kontakts_phone_nr }}</td>
    </tr>
    <tr>
        <th>{% translate 'Indberetter CPR' %}</th>
        <td>{{ object.indberetters_cpr }}</td>
    </tr>
    <tr>
        <th>{% translate 'Total beregnet afgift (kr)' %}</th>
        <td>{{ object.afgift_sum|default_if_none:'' }}</td>
    </tr>
    <tr>
        <th>{% translate 'Afstemt' %}</th>
        <td>{{ object.afstemt|janej|capfirst }}</td>
    </tr>
    </tbody>
</table>

{% if not object.afstemt %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#afstemModal">
    {% translate 'Afstem' %}
</button>
{% endif %}

<hr/>

{% with skematype_id=object.skematype.id %}
<form method="post">

    {% csrf_token %}
    {{ form.management_form }}
    {% for group in form.forms_by_produkttype %}
    <h3>{{ group.produkttype }}</h3>
    <table class="table">
        <thead>
        <tr>
            {% if skematype_id == 1 or skematype_id == 2 %}
            <th>{% translate 'Fartøj' %}</th>
            {% endif %}
            {% if skematype_id == 2 or skematype_id == 3 %}
            <th>{% translate 'Indhandlingssted' %}</th>
            {% endif %}
            <th>{% translate 'Salgsvægt (kg)' %}</th>
            <th>{% translate 'Levende vægt/helfisk mængde (kg)' %}</th>
            <th>{% translate 'Salgspris (kr)' %}</th>
            <th>{% translate 'Afgiftssats' %}</th>
            <th>{% translate 'Beregnet afgift (kr)' %}</th>
            <th>{% translate 'Kommentar' %}</th>
		</tr>
		</thead>
		<tbody>
        {% for subform in group.forms %}
        {% with linje=subform.instance %}
		    <tr>
		        {% if skematype_id == 1 or skematype_id == 2 %}
		        <td>{{ linje.fartøj_navn }}</td>
		        {% endif %}
		        {% if skematype_id == 2 or skematype_id == 3 %}
		        <td>{{ linje.indhandlingssted }}</td>
		        {% endif %}
		        <td>{{ linje.salgsvægt }}</td>
		        <td>{{ linje.levende_vægt }}</td>
		        <td>{{ linje.salgspris }}</td>
                <td>{{ linje.fangstafgift.rate_string }}</td>
		        <td>{{ linje.afgift }}</td>
		        <td>
                    {{ subform.uuid }}
		            {{ subform.kommentar }}
		        </td>
		    </tr>
        {% endwith %}
		{% endfor %}
		</tbody>
        <tfoot>
            <tr>
                <td {% if skematype_id == 2 %}colspan="2"{% endif %}><strong>{% translate 'I alt' %}</strong></td>

                <td>
                    {{group.instances|list_sum_attr:'salgsvægt'}}
                </td>
                <td>
                    {{group.instances|list_sum_attr:'levende_vægt'}}
                </td>
                <td>
                    {{group.instances|list_sum_attr:'salgspris'}}
                </td>
                <td></td>
                <td>
                    {{group.instances|list_sum_attr:'afgift'}}
                </td>
                <td></td>
            </tr>
        </tfoot>
	</table>
    {% endfor %}
    <button type="submit" class="btn btn-primary">
        {% translate 'Gem kommentarer' %}
    </button>
</form>
{% endwith %}

<div id="afstemModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% translate 'Afstem' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% translate 'Er du sikker på at du vil afstemme denne indberetning?' %}</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'administration:indberetning-afstem' pk=object.pk %}">
                    {% csrf_token %}
                    <input name="afstemt" type="hidden" value="True"/>
                    <button type="submit" class="btn btn-primary">{% translate 'Ja' %}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Nej' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
