{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Indberetning' %}</h1>

<table class="table table-bordered table-sm" style="width: auto;">
    <tbody>
    <tr>
        <th>{% translate 'Afgiftsperiode' %}</th>
        <td>{{ object.afgiftsperiode }}</td>
    </tr>
    <tr>
        <th>{% translate 'Indberetningstidspunkt' %}</th>
        <td>{{ object.indberetningstidspunkt }}</td>
    </tr>
    <tr>
        <th>{% translate 'Skematype' %}</th>
        <td>{{ object.skematype.navn_dk }}</td>
    </tr>
    <tr>
        <th>{% translate 'Fartøj' %}</th>
        <td>{{ object.fartøj_navn }}</td>
    </tr>
    <tr>
        <th>{% translate 'CVR' %}</th>
        <td>{{ object.virksomhed.cvr }}</td>
    </tr>
    <tr>
        <th>{% translate 'Kontaktperson' %}</th>
        <td>{{ object.virksomhed.kontakt_person }}</td>
    </tr>
    <tr>
        <th>{% translate 'Email' %}</th>
        <td>{{ object.virksomhed.kontakt_email }}</td>
    </tr>
    <tr>
        <th>{% translate 'Telefon' %}</th>
        <td>{{ object.virksomhed.kontakts_phone_nr }}</td>
    </tr>
    <tr>
        <th>{% translate 'Indberetter CPR' %}</th>
        <td>{{ object.indberetters_cpr }}</td>
    </tr>
    </tbody>
</table>

<h2>{% translate 'Indberetningslinjer' %}</h2>
{% with skematype_id=object.skematype.id %}
<form method="post">

    {% csrf_token %}
    {{ form.management_form }}
    <table class="table">
        <thead>
        <tr>
            {% if skematype_id == 1 or skematype_id == 2 %}
            <th>{% translate 'Fartøj' %}</th>
            {% endif %}
            {% if skematype_id == 2 or skematype_id == 3 %}
            <th>{% translate 'Indhandlingssted' %}</th>
            {% endif %}
            <th>{% translate 'Produkttype' %}</th>
            <th>{% translate 'Salgsvægt (kg)' %}</th>
            <th>{% translate 'Levende vægt/helfisk mængde (kg)' %}</th>
            <th>{% translate 'Salgspris (kr.)' %}</th>
            <th>{% translate 'Kommentar' %}</th>
		</tr>
		</thead>
		<tbody>
        {% for subform in form %}
        {% with linje=subform.instance %}
		    <tr>
		        {% if skematype_id == 1 or skematype_id == 2 %}
		        <td>{{ linje.fartøj_navn }}</td>
		        {% endif %}
		        {% if skematype_id == 2 or skematype_id == 3 %}
		        <td>{{ linje.indhandlingssted }}</td>
		        {% endif %}
		        <td>{{ linje.produkttype }}</td>
		        <td>{{ linje.salgsvægt }}</td>
		        <td>{{ linje.levende_vægt }}</td>
		        <td>{{ linje.salgspris }}</td>
		        <td>
		            {{ subform.uuid }}
		            {{ subform.kommentar }}
		        </td>
		    </tr>
        {% endwith %}
		{% endfor %}
		</tbody>
	</table>
    <button type="submit" class="btn btn-primary">
        {% translate 'Gem kommentarer' %}
    </button>
</form>
{% endwith %}

{% endblock %}
