{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Indberetninger' %}</h1>

<div class="container-fluid">
    <form method="get">
        <div class="row mb-3">
            <label class="col-sm-1 col-form-label" for="{{ form.afgiftsperiode.id_for_label }}">{{ form.afgiftsperiode.label }}</label>
            <div class="col-sm-4">{{ form.afgiftsperiode }}</div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-1 col-form-label" for="{{ form.beregningsmodel.id_for_label }}">{{ form.beregningsmodel.label }}</label>
            <div class="col-sm-4">{{ form.beregningsmodel }}</div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-1 col-form-label" for="{{ form.tidspunkt_fra.id_for_label }}">{% translate 'Tidspunkt' %}</label>
            <div class="col-sm-2">{{ form.tidspunkt_fra }}</div>
            <div class="col-sm-2">{{ form.tidspunkt_til }}</div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-1 col-form-label" for="{{ form.cvr.id_for_label }}">{{ form.cvr.label }}</label>
            <div class="col-sm-4">{{ form.cvr }}</div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-1 col-form-label" for="{{ form.produkttype.id_for_label }}">{{ form.produkttype.label }}</label>
            <div class="col-sm-4">{{ form.produkttype }}</div>
        </div>
        <button type="submit" class="btn btn-primary">{% translate 'Søg' %}</button>
    </form>

    <div class="row mb-1 mt-1">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-1">{% translate 'Afgiftsperiode' %}</th>
                <th class="col-1">{% translate 'Virksomhed' %}</th>
                <th class="col-1">{% translate 'Cpr' %}</th>
                <th class="col-1">{% translate 'Indberetningstidspunkt' %}</th>
                <th class="col-2">{% translate 'Fiskearter' %}</th>
                <th class="col-3">{% translate 'Kommentar' %}</th>
                <th class="col-1">{% translate 'Afgift' %}</th>
                <th class="col-1">{% translate 'Afstemt' %}</th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            {% with kommentarer=object.get_all_comment_strings %}
            <tbody class="collapser">
            <tr data-toggle="collapse" role="button" aria-expanded="false" data-target="#collapse-{{object.uuid}}">
                <td>{{ object.afgiftsperiode.navn }}</td>
                <td>{{ object.virksomhed.cvr }}</td>
                <td>{{ object.indberetters_cpr }}</td>
                <td>{{ object.indberetningstidspunkt }}</td>
                <td>{{ object.get_fishcategories_string|truncatechars:50 }}</td>
                <td>{% if kommentarer %}{{kommentarer|first|truncatechars:50}}{% endif %}</td>
                <td>{{ object.afgift_sum }}</td>
                <td>{{ object.afstemt|janej|capfirst }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'administration:indberetning-detail' object.pk %}">{% translate 'Vis detaljer' %}</a>
                </td>
            </tr>
            </tbody>
            <tbody class="collapse" id="collapse-{{object.uuid}}">
            {% for linje in object.linjer.all %}
            <tr class="subrow">
                <td colspan="4"></td>
                <td>{{ linje.produkttype.fiskeart }}</td>
                <td>{{ linje.kommentar }}</td>
                <td colspan="2"></td>
            </tr>
            {% endfor %}
            </tbody>
            {% endwith %}
            {% endfor %}
        </table>
    </div>

    <div class="row">
        <a class="btn btn-primary" href="{{ excel_link }}">{% translate 'Hent excel-regneark' %}</a>
    </div>
</div>
<script>
    $("[data-toggle=collapse] a").on('click', function(event){
        event.stopPropagation();
    })
</script>
{% endblock %}
