{% extends 'administration/base.html' %}
{% load i18n %}
{% block content %}
<div class="row justify-content-md-center mb-2 mr-sm-2">
    <h1>{% translate 'Ressourcerenter administration' %}</h1>
</div>
{% if form.non_field_errors %}
<div class="row justify-content-md-center">
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="row justify-content-md-center">
    <form action="" method="POST" class="needs-validation">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input class="form-control{% if form.username.errors %} is-invalid{% endif %}" type="text" name="username" placeholder="{% translate 'Brugernavn' %}" required>
                {% if form.username.errors %}
                <div class="invalid-feedback">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control {% if form.password.errors %} is-invalid{% endif %}" type="password" name="password" placeholder="{% translate 'Password' %}">
                {% if form.password.errors %}
                <div class="invalid-feedback">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary">{% translate 'Login' %}</button>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}
