{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate 'Produkter' %}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{% translate 'Navn' %}</th>
            <th>{% translate 'Beskrivelse' %}</th>
            <th>{% translate 'Handlinger' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>
                {{ object.navn }}
            </td>
            <td>
                {{ object.beskrivelse|default_if_none:'' }}
            </td>
            <td>
                <a class="btn btn-primary" href="{% url 'administration:produktkategori-update' pk=object.pk %}">{% translate 'Redigér' %}</a>
                <a class="btn btn-primary" href="{% url 'administration:produktkategori-history' pk=object.pk %}">{% translate 'Historik' %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-secondary" href="{% url 'administration:produktkategori-create' %}">{% translate 'Opret ny' %}</a>

{% endblock %}
