{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>
    {% if creating %}
    {% translate 'Opret Produkt' %}
    {% else %}
    {% translate 'Redigér Produkt' %}
    {% endif %}
</h1>

<p class="help">
    {% blocktranslate %}
    På denne side kan produkttypen specificeres.
    Produkttyper bør kun redigeres når det er absolut nødvendigt.
    Den overordnede produkttype bruges kun til specialiserede produkttyper (f.eks Skalrejer).
    Produkttyper som har en overordnet type dukker kun op ved indberetning på den første skematype.
    {% endblocktranslate %}
</p>

<form method="post">
    {% csrf_token %}

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_dk.id_for_label }}">{% translate 'Dansk navn:' %}</label>
        </div>
        <div class="col-4">
            {{ form.navn_dk }}
        </div>
        <div class="col-6">
            {{ form.navn_dk.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_gl.id_for_label }}">{% translate 'Grønlandsk navn:' %}</label>
        </div>
        <div class="col-4">
            {{ form.navn_gl }}
        </div>
        <div class="col-6">
            {{ form.navn_gl.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.fartoej_groenlandsk.id_for_label }}">{% translate 'Grønlandsk fartøj:' %}</label>
        </div>
        <div class="col-4">
            {{ form.fartoej_groenlandsk }}
        </div>
        <div class="col-6">
            {{ form.fartoej_groenlandsk.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.fiskeart.id_for_label }}">{% translate 'Fiskeart:' %}</label>
        </div>
        <div class="col-4">
            {% if form.fiskeart %}
            {{ form.fiskeart }}
            {% else %}
            {{ object.fiskeart }}
            {% endif %}
        </div>
        <div class="col-6">
            {{ form.fiskeart.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.beskrivelse.id_for_label }}">{% translate 'Beskrivelse:' %}</label>
        </div>
        <div class="col-4">
            {{ form.beskrivelse }}
        </div>
        <div class="col-6">
            {{ form.beskrivelse.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.gruppe.id_for_label }}">{% translate 'Overordnet produkt:' %}</label>
        </div>
        <div class="col-4">
            {{ form.gruppe }}
        </div>
        <div class="col-6">
            {{ form.gruppe.errors }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% translate 'Gem' %}</button>
</form>
{% endblock %}
