{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>
    {% if creating %}
    {% translate 'Opret Produkt' %}
    {% else %}
    {% translate 'Redigér Produkt' %}
    {% endif %}
</h1>

<p class="help">
    {% blocktranslate %}
    På denne side kan produkttypen specificeres.
    Produkttyper bør kun redigeres når det er absolut nødvendigt.
    Den overordnede produkttype bruges kun til specialiserede produkttyper (f.eks Skalrejer).
    Produkttyper som har en overordnet type dukker kun op ved indberetning på den første skematype.
    {% endblocktranslate %}
</p>

<form method="post" {% if creating %} action="{% url 'administration:produkttype-create' %}"{% endif %}>
    {% csrf_token %}

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_dk.id_for_label }}">{% translate 'Dansk navn' %}:</label>
        </div>
        <div class="col-4">
            {{ form.navn_dk }}
        </div>
        <div class="col-6">
            {{ form.navn_dk.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.navn_gl.id_for_label }}">{% translate 'Grønlandsk navn' %}:</label>
        </div>
        <div class="col-4">
            {{ form.navn_gl }}
        </div>
        <div class="col-6">
            {{ form.navn_gl.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.fartoej_groenlandsk.id_for_label }}">{% translate 'Grønlandsk fartøj' %}:</label>
        </div>
        <div class="col-4">
            {{ form.fartoej_groenlandsk }}
        </div>
        <div class="col-6">
            {{ form.fartoej_groenlandsk.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.fiskeart.id_for_label }}">{% translate 'Fiskeart' %}:</label>
        </div>
        <div class="col-4">
            {% if form.fiskeart %}
            {{ form.fiskeart }}
            {% else %}
            {{ object.fiskeart }}
            {% endif %}
        </div>
        <div class="col-6">
            {{ form.fiskeart.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.beskrivelse.id_for_label }}">{% translate 'Beskrivelse' %}:</label>
        </div>
        <div class="col-4">
            {{ form.beskrivelse }}
        </div>
        <div class="col-6">
            {{ form.beskrivelse.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.gruppe.id_for_label }}">{% translate 'Overordnet produkt' %}:</label>
        </div>
        <div class="col-4">
            {{ form.gruppe }}
        </div>
        <div class="col-6">
            {{ form.gruppe.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">
            {% blocktranslate %}
            Aktivitetskoder indgår i dataoverførslen til Prisme, og skal kunne genkendes derovre.
            Vær derfor sikker på at koden er den samme som forventes i Prisme.
            {% endblocktranslate %}
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">
            {% blocktranslate %}
            Hvis der ikke angives en aktivitetskode, og der findes en overordnet produkttype,
            vil den overordnede produkttypes aktivitetskode blive brugt.
            Bemærk at "0" tæller som at værdien er sat; hvis den overordnede produkttypes
            kode skal bruges, skal feltet være helt tomt.
            {% endblocktranslate %}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.aktivitetskode_indhandling.id_for_label }}">{% translate 'Aktivitetskode for indhandling' %}:</label>
        </div>
        <div class="col-4">
            {{ form.aktivitetskode_indhandling }}
        </div>
        <div class="col-6">
            {{ form.aktivitetskode_indhandling.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.aktivitetskode_havgående.id_for_label }}">{% translate 'Aktivitetskode for havgående fiskeri' %}:</label>
        </div>
        <div class="col-4">
            {{ form.aktivitetskode_havgående }}
        </div>
        <div class="col-6">
            {{ form.aktivitetskode_havgående.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.aktivitetskode_kystnært.id_for_label }}">{% translate 'Aktivitetskode for kystnært fiskeri' %}:</label>
        </div>
        <div class="col-4">
            {{ form.aktivitetskode_kystnært }}
        </div>
        <div class="col-6">
            {{ form.aktivitetskode_kystnært.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-2">
            <label for="{{ form.aktivitetskode_svalbard.id_for_label }}">{% translate 'Aktivitetskode for fiskeri ved Svalbard og i Barentshavet' %}:</label>
        </div>
        <div class="col-4">
            {{ form.aktivitetskode_svalbard }}
        </div>
        <div class="col-6">
            {{ form.aktivitetskode_svalbard.errors }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% translate 'Gem' %}</button>
</form>
{{ fiskeart_map|json_script:"fiskeart_map" }}
<script>
    const toggle_options = function (field, option_values) {
        field.find("option").each(function (){
            const $this = $(this);
            if (this.value !== "" && (!option_values || option_values.indexOf(this.value) === -1)) {
                $this.attr("disabled", "disabled");
                $this.hide();
                if ($this.prop("selected")) {
                    $this.prop("selected", false);
                }
            } else {
                $this.removeAttr("disabled");
                $this.show();
            }
        });
    }

    $(function (){
        const fiskeart_map = JSON.parse($("#fiskeart_map").text());
        const produkttype_field = $("#{{form.gruppe.id_for_label}}");

        {% if form.fiskeart %}

        const fiskeart_field = $("#{{form.fiskeart.id_for_label}}");
        const update_produkttype_field = function () {
            const fiskeart_value = fiskeart_field.val();
            toggle_options(produkttype_field, fiskeart_map[fiskeart_value])
        }
        update_produkttype_field();
        fiskeart_field.on("change", update_produkttype_field);

        {% else %}

        const fiskeart_value = "{{ object.fiskeart.uuid }}";
        toggle_options(produkttype_field, fiskeart_map[fiskeart_value])

        {% endif %}
    });
</script>
{% endblock %}
