{% extends 'administration/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Statistik' %}</h1>

<form method="get">
    <div id="statistik-form" class="mb-3 collapse {% if not form.is_valid %}show{% endif %}">
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="mb-3">
            {{ field.errors }}
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="row">
                <div class="col-6">{{ field }}</div>
                <div class="col-2">
                    <button class="btn btn-primary btn-sm select-all" data-target="{{ field.id_for_label }}">{% translate 'Vælg alle' %}</button>
                    <button class="btn btn-primary btn-sm select-none" data-target="{{ field.id_for_label }}">{% translate 'Fravælg alle' %}</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {% if form.is_valid %}
        <button id="toggle-button" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#statistik-form">{% translate 'Vis formular' %}</button>
        {% endif %}
        <button id="form-button" type="submit" class="btn btn-primary"{% if form.is_valid %}style="display:none"{% endif %}>{% translate 'Hent resultat' %}</button>
        <button id="excel-button" type="submit" class="btn btn-success" name="format" value="xlsx">{% translate 'Hent excel-fil' %}</button>
    </div>

</form>

{% if form.is_valid %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            {% for heading in resultat.headings %}
            <th>{{ heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="text-right">
        {% for row in resultat.rows %}
        <tr>
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="{{ resultat.headings|length }}" class="text-center">{% translate 'Der er ingen resultater' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{{ produkt_fiskeart_map|json_script:"produkt_fiskeart_map" }}
<script>
    $('button.select-all').on('click', function(e) {
        e.preventDefault()
        let target_id = '#' + $(this).data('target');
        $(target_id + ' option').prop('selected', true);
        return false
    });
    $('button.select-none').on('click', function(e) {
        e.preventDefault();
        let target_id = '#' + $(this).data('target');
        $(target_id + ' option').prop('selected', false);
        return false;
    });

    const show_text = "{% translate 'Vis formular' %}";
    const hide_text = "{% translate 'Skjul formular' %}";
    const toggle_button = $('#toggle-button');
    const form_button = $('#form-button');
    $('#statistik-form').on('show.bs.collapse', function(e) {
        toggle_button.text(hide_text);
        form_button.show();
    })
    $('#statistik-form').on('hide.bs.collapse', function(e) {
        toggle_button.text(show_text);
        form_button.hide();
    })
    const produkt_fiskeart_map = JSON.parse($('#produkt_fiskeart_map').text());
    $('#statistik-form [name="fiskeart"]').on('change', function(){
        const produkttyper = {};
        const fiskearter = $(this).val();
        for (let i in fiskearter) {
            const fiskeart = fiskearter[i];
            for (let j in produkt_fiskeart_map[fiskeart]) {
                const produkttype = produkt_fiskeart_map[fiskeart][j];
                produkttyper[produkttype] = 1;
            }
        }
        $('#statistik-form [name="produkttype"]').find('option').each(function (){
            $(this).toggle(this.value in produkttyper);
        });
    });
</script>

{% endblock %}
