{% extends 'statistik/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Statistik' %}</h1>

<form method="post" id="statistikform">
    {% csrf_token %}
    <div id="statistik-form" class="mb-3 collapse {% if not form.is_valid %}show{% endif %}">
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="mb-3 fieldcontainer">
            {{ field.errors }}
            {% if field.name == 'skematype_3' %}
            <div class="row">
                <div class="col-6 form-check">
                    {% for value, label in field.field.choices %}
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="{{ field.name }}_{{ forloop.counter }}"
                               name="{{field.name}}" class="custom-control-input" value="{{ value }}"
                               {% if field.data|default_if_none:'0' == value %}checked="checked"{% endif %}/>
                        <label class="custom-control-label" for="{{ field.name }}_{{forloop.counter}}">
                            {{label}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="row">
                <div class="col-6">{{ field }}</div>
                <div class="col-2">
                    <button class="btn btn-primary btn-sm select-all" data-target="{{ field.id_for_label }}">{% translate 'Vælg alle' %}</button>
                    <button class="btn btn-primary btn-sm select-none" data-target="{{ field.id_for_label }}">{% translate 'Fravælg alle' %}</button>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {% if form.is_valid %}
        <button id="toggle-button" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#statistik-form">{% translate 'Vis formular' %}</button>
        {% endif %}
        <button id="form-button" type="submit" class="btn btn-primary"{% if form.is_valid %}style="display:none"{% endif %}>{% translate 'Hent resultat' %}</button>
        <button id="excel-button" type="submit" class="btn btn-success" name="format" value="xlsx">{% translate 'Hent excel-fil' %}</button>
    </div>

</form>

{% if form.is_valid %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            {% for heading in resultat.headings %}
            <th>{{ heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="text-right">
        {% for row in resultat.rows %}
        <tr>
            {% for value in row %}
                <td>{{ value|default_if_none:'' }}</td>
            {% endfor %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="{{ resultat.headings|length }}" class="text-center">{% translate 'Der er ingen resultater' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{{ produkt_fiskeart_map|json_script:"produkt_fiskeart_map" }}
<script>
    $('button.select-all').on('click', function(e) {
        e.preventDefault()
        let target_id = '#' + $(this).data('target');
        $(target_id + ' option').prop('selected', true);
        update_choices();
        return false
    });
    $('button.select-none').on('click', function(e) {
        e.preventDefault();
        let target_id = '#' + $(this).data('target');
        $(target_id + ' option').prop('selected', false);
        update_choices();
        return false;
    });

    const show_text = "{% translate 'Vis formular' %}";
    const hide_text = "{% translate 'Skjul formular' %}";
    const toggle_button = $('#toggle-button');
    const form_button = $('#form-button');
    const form = $('#statistik-form');
    form.on('show.bs.collapse', function(e) {
        toggle_button.text(hide_text);
        form_button.show();
    })
    form.on('hide.bs.collapse', function(e) {
        toggle_button.text(show_text);
        form_button.hide();
    })
    const produkt_fiskeart_map = JSON.parse($('#produkt_fiskeart_map').text());
    const change_fiskeart = function(){
        const produkttyper = {};
        const fiskearter = $(this).val();
        for (let i in fiskearter) {
            const fiskeart = fiskearter[i];
            for (let j in produkt_fiskeart_map[fiskeart]) {
                const produkttype = produkt_fiskeart_map[fiskeart][j];
                produkttyper[produkttype] = 1;
            }
        }
        $('#statistik-form [name="produkttype"]').find('option').each(function (){
            $(this).toggle(this.value in produkttyper);
            if (!(this.value in produkttyper)) {
                $(this).prop("selected", false);
            }
        });
    };
    fiskeart_field = $('#statistik-form [name="fiskeart"]');
    fiskeart_field.on('change', change_fiskeart);
    fiskeart_field.each(function() {
        change_fiskeart.call(this);
    });

    const field_map = {
        'years': '#{{ form.years.id_for_label }}',
        'quarter_starting_month': '#{{ form.quarter_starting_month.id_for_label }}',
        'virksomhed': '#{{ form.virksomhed.id_for_label }}',
        'fartoej': '#{{ form.fartoej.id_for_label }}',
        'indberetningstype': '#{{ form.indberetningstype.id_for_label }}',
        'fiskeart_indhandling': '#{{ form.fiskeart_indhandling.id_for_label }}',
        'fiskeart_eksport': '#{{ form.fiskeart_eksport.id_for_label }}',
        'produkttype_eksport': '#{{ form.produkttype_eksport.id_for_label }}',
        'indhandlingssted': '#{{ form.indhandlingssted.id_for_label }}',
        'skematype_3': '[name="{{ form.skematype_3.name }}"]'
    };

    const update_schematype = function() {
        const use_skematype_3 = $(field_map['skematype_3']).filter(":checked").val() == '1';
        const fields = $(field_map['fartoej']+','+field_map['indberetningstype']);
        fields.parents('.fieldcontainer').toggle(!use_skematype_3);
        if (use_skematype_3) {
            fields.find('option').prop('selected', false);
        }
    };
    $(field_map['skematype_3']).change(update_schematype);
    update_schematype();

    const update_choices = function() {
        const indberetningstype = $(field_map['indberetningstype']).val();
        if (indberetningstype.length) {
            if (indberetningstype.indexOf('Eksport') === -1) {
                $(field_map['fiskeart_eksport']+','+field_map['produkttype_eksport']).find('option').prop("selected", false);
            }
            if (indberetningstype.indexOf('Indhandling') === -1) {
                $(field_map['fiskeart_indhandling']+','+field_map['indhandlingssted']).find('option').prop("selected", false);
            }
        }

        if ($(field_map['years']).val() && $(field_map['quarter_starting_month']).val()) {
            $.ajax({
                type: 'POST',
                url: '{% url "statistik:choices" %}',
                data: $("#statistikform").serialize(),
                dataType: 'json',
                success: function (data) {
                    // List of fields to be affected by selection
                    const fields = [
                        'fartoej',
                        'indberetningstype',
                        'fiskeart_indhandling',
                        'fiskeart_eksport',
                        'produkttype_eksport',
                        'indhandlingssted'
                    ];
                    for (let i in fields) {
                        const field = fields[i];
                        if (field in data) {
                            const values = data[field];
                            const select = $(field_map[field]);
                            select.find("option").hide();
                            for (let j in values) {
                                const value = values[j];
                                select.find("option[value='" + value + "']").show();
                            }
                            select.find("option:hidden").prop("selected", false);
                        }
                    }
                }
            });
        }
    };
    // List of fields that should affect others by selection
    $([
        field_map['years'],
        field_map['quarter_starting_month'],
        field_map['virksomhed'],
        field_map['fartoej'],
        field_map['indberetningstype'],
        field_map['indhandlingssted'],
        field_map['fiskeart_eksport']
    ].join(',')).change(update_choices);
    update_choices();
</script>

{% endblock %}
