textarea.form-control.single-line {
    /* For textareas that are initially one line, but the user may expand it as needed */
    height: calc(1.5em + .75rem + 2px);  /* Same as in bootstrap, overriding textarea.form-control { height: auto } */
}

.table tbody.collapser,
.table tbody.collapsing,
.table tbody.collapse {
    border-top-width: 1px !important;
}

.table-hover tbody tr.subrow:hover {
    color:#808080;
    background-color:#fff;
}

tr.subrow td {
    border: none;
    color: #808080;
}
tr.subrow:hover {
    background: transparent;
}


/* Select2 styling med højde som bootstraps form-controls */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + .75rem + 2px);
}
.select2-container .select2-selection .select2-selection__rendered {
    line-height: calc(1.5em + .75rem + 2px);
}

.col-1 {
    width: 8.333333%;
}
.col-2 {
     width: 16.666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333%;
}
.col-11 {
    width: 91.666667%;
}
.col-12 {
    width: 100%;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

ul.errorlist li {
    list-style-type: none;
}

.locale-changer .option-kl,
.locale-changer .option-da {
    background-size: 1rem auto;
    padding: 0 0 0 1.5rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border: none;
    vertical-align: middle;
}


.locale-changer .option-kl {
    background: url(../img/flag_gl.svg) no-repeat 0 transparent;;
}
.locale-changer .option-da {
    background: url(../img/flag_da.svg) no-repeat 0 transparent;
}

.locale-changer button[type=submit]:hover {
    background-color: transparent;
}

.btn-outline-grey {
    color: #495057;
    border-color: #ced4da;
    background-color: #e9ecef;
}

.input-label {
    text-align: center;
}

.input-file {
    position: absolute;
    width: 0;
    height: 0;
}
