{% extends 'sullissivik/layout.html' %}
{% load static %}
{% load i18n %}

{% block page %}

<section class="section-container section">

    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col-xs-12 col-md-7 col-md-offset-3 col-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="formHeader alertbox">
                        <div role="alert">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-md-7 col-md-offset-3 col-fluid">

            <div class="row">
                <div class="col-xs-12">
                    <div class="pdfHeader formHeader group" id="divHeader">
                        <div class="pdfBorder">
                            <h1>Departementet for Fiskeri og Fangst</h1>
                            <div class="pdfContact" style="float:left; padding-right:50px; display:inline-block;">Telefon: <a href="tel:+299345000" style="cursor:text; text-decoration:none;">(+299) 34 50 00</a><br>
                                E-mail: <a shape="rect" href="mailto:apn@nanoq.gl">apn@nanoq.gl</a></div>
                            <div class="pdfContact" style="float:right; display:inline-block;">Adresse: Imaneq 1A, 701<br>
                                By: Nuuk</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="formHeader">
                        <h1>
                            {% translate 'Indberetning af ressourcerenter' %}
                        </h1>
                    </div>
                </div>
            </div>

            {% block content %}{% endblock %}

        </div>
    </div>
</section>
{% endblock %}
