{% load static %}
{% load i18n %}
{% load indberetning_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ressourcerenter.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <title>{% translate 'Indberetning af ressourcerenter' %}</title>
</head>
<body>
<main role="main">
    <nav class="nav d-flex p-2 navbar-dark bg-dark">
        <a class="navbar-brand" href="https://sullissivik.gl/" aria-label="{% translate 'Tilbage til forsiden for Sullissivik.gl' %}">Sullissivik.gl</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'indberetning:indberetning-list' %}">{% translate 'Indberetninger' %}</a></li>
        </ul>
        <span class="ml-auto">
            <span class="p-2 navbar-text">
                {% if request.session.impersonating %}
                    {% blocktranslate with name=request.user.username company=request.session.user_info.organizationname cvr=request.session.user_info.cvr %}Logget ind som <strong>{{name}}</strong> på vegne af <strong>{{company}} ({{cvr}})</strong>{% endblocktranslate %}
                    <a class="btn btn-primary btn-sm" href="{% url 'administration:virksomhed-represent-stop' %}">{% translate 'Afslut repræsentation' %}</a>
                {% else %}
                    {% if request.session.user_info.personname %}
                        {% blocktranslate with name=request.session.user_info.personname company=request.session.user_info.organizationname cvr=request.session.user_info.cvr %}Du er logget ind som <strong>{{name}}</strong> ved <strong>{{company}} ({{cvr}})</strong>{% endblocktranslate %}
                    {% else %}
                        {% blocktranslate with company=request.session.user_info.organizationname cvr=request.session.user_info.cvr %}Du er logget ind som <strong>{{company}} ({{cvr}})</strong>{% endblocktranslate %}
                    {% endif %}
                <a class="btn btn-primary btn-sm" id="logout-link" href="{% url 'login:logout' %}">{% translate 'Log ud' %}</a>
                {% endif %}
            </span>
            <span class="locale-changer navbar-text">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    {% if LANGUAGE_CODE|split:'-'|first == 'kl' %}
                        <button type="submit" name="language" value="da" class="option-da"></button>
                    {% else %}
                        <button type="submit" name="language" value="kl" class="option-kl"></button>
                    {% endif %}
                </form>
            </span>
        </span>
    </nav>
    <hr class="p-0 m-0">
    {% block alert %}
    {% if messages %}
    <div class="row justify-content-center mt-2">
        {% for message in messages %}
        <div class="alert text-center {% if message.level == 20 %}alert-info
                                  {% elif message.level == 25 %}alert-success
                                  {% elif message.level == 30 %}alert-warning
                                  {% elif message.level == 40 %}alert-danger
                                  {% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <script>
        $("#logout-link").on('click', function () {
            return confirm("{% translate 'Er du sikker på at du vil logge ud?' %}");
        });
    </script>
</main>
</body>
</html>
