{% extends "indberetning/base.html"%}
{% load i18n %}
{% load static %}
{% load csp %}
{% block content %}
{% if form.non_form_errors %}
    {% for error in form.non_form_errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
{% endif %}
{% if edit_mode %}
<h2>{% blocktranslate with tidspunkt=object.indberetningstidspunkt|date:"SHORT_DATE_FORMAT" %}Tidligere Indberetninger fra {{tidspunkt}}{% endblocktranslate %}</h2>
<div class="table-responsive">
    {% include 'indberetning/includes/linje_list.html' with object_list=object.linjer.all skema_id=skema.id %}
</div>
<h2>{% translate 'Justerer indberetning' %}</h2>
{% else %}
<h2>{% translate 'Nye indberetninger' %}</h2>
{% endif %}
<form method="POST" enctype="multipart/form-data" action="{{ form_url }}">
    {% csrf_token %}
    {{ form.management_form }}
    {{ bilag_formset.management_form }}
    <table class="table table-borderless table-sm">
        <tbody>
        <tr>
            <th class="col-1">{% translate 'Afgiftsperiode' %}:</th>
            <td>{{ afgiftsperiode }}</td>
        </tr>
        <tr>
            <th class="col-1">{% translate 'Selskab / CVR' %}:</th>
            <td>{{ request.session.cvr }}</td>
        </tr>
        <tr>
            <th class="col-1">{% translate 'Skematype' %}:</th>
            <td>{{ skema }}</td>
        </tr>
        </tbody>
    </table>
    <p>
        {% translate 'Ved justering af en tidligere indberetning nedad skal vægt og beløb indtastes med minus foran, f.eks. "-10" og beløbene vil blive modregnet den tidligere indberetning, som der justeres.' %}
    </p>
    <p>
        {% translate 'Ved justering af en tidligere indberetning opad skal vægt og beløb indtastes uden minus foran, og beløbene vil blive lagt til den tidligere indberetning, som der justeres.' %}
    </p>
    <div class="table-responsive">
        <hr />
        <table class="table table-bordered text-center table-sm" id="js-product-table">
            <thead>
            <tr>
                {% if skema.id == 1 %}
                <th class="col-4">{% translate 'Fartøjs navn' %}</th>
                {% endif %}
                {% if skema.id == 2 %}
                <th class="col-2">{% translate 'Indhandlingssted' %}</th>
                <th class="col-2">{% translate 'Fartøjs navn' %}</th>
                {% endif %}
                {% if skema.id == 3 %}
                <th class="col-4">{% translate 'Indhandlingssted' %}</th>
                {% endif %}
                <th class="col-2">{% translate 'Produkttype' %}</th>
                {% if skema.id != 3 %}
                <th class="col-1">{% translate 'Produktvægt (kg)' %}</th>
                {% endif %}
                <th class="col-1">{% translate 'Levende vægt (kg)' %}</th>

                {% if skema.id == 1 %}
                <th class="col-1">{% translate 'Omsætning (kr)' %}</th>
                {% elif skema.id == 2 or skema.id == 3 %}
                <th class="col-1">{% translate 'Indhandlingsværdi (kr)' %}</th>
                {% endif %}

                {% if skema.id == 1 %}
                <th class="col-1">{% translate 'Transporttillæg (kr)' %}</th>
                {% elif skema.id == 2 or skema.id == 3 %}
                <th class="col-1">{% translate 'Bonus og andet vederlag (kr)' %}</th>
                {% endif %}

                <th class="col-1">{% translate 'Afgiftssats' %}</th>
                <th class="col-1" id="afgift_column" data-endpoint="{% url 'indberetning:indberetning-calculate' %}">{% translate 'Beregnet afgift (kr)' %}</th>

                {% if request.session.impersonating %}
                <th class="col-1">{% translate 'Kommentar' %}</th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for subform in form %}
            {{ subform.non_field_errors }}
            <tr class="autocalc-afgift" data-prefix="{{subform.prefix}}">
                {% if skema.id == 2 or skema.id == 3 %}
                <td>{{subform.indhandlingssted}}{% if subform.errors.indhandlingssted %}<small class="error text-left">{{subform.errors.indhandlingssted}}</small>{% endif %}</td>
                {% endif %}
                {% if skema.id == 1 or skema.id == 2 %}
                <td>{{subform.fartøj_navn}}{% if subform.errors.fartøj_navn %}<small class="error text-left">{{subform.errors.fartøj_navn}}</small>{% endif %}</td>
                {% endif %}
                <td>{{subform.produkttype}}{% if subform.errors.kategori %}<small class="error text-left">{{subform.errors.kategori}}</small>{% endif %}</td>
                {% if skema.id != 3 %}
                <td>{{subform.produktvægt}}{% if subform.errors.produktvægt %}<small class="error text-left">{{subform.errors.produktvægt}}</small>{% endif %}</td>
                {% endif %}
                <td>{{subform.levende_vægt}}{% if subform.errors.levende_vægt %}<small class="error text-left">{{subform.errors.levende_vægt}}</small>{% endif %}</td>
                <td>{{subform.salgspris}}{% if subform.errors.salgspris %}<small class="error text-left">{{subform.errors.salgspris}}</small>{% endif %}</td>
                {% if skema.id == 1 %}
                <td>{{subform.transporttillæg}}{% if subform.errors.transporttillæg %}<small class="error text-left">{{subform.errors.transporttillæg}}</small>{% endif %}</td>
                {% endif %}
                {% if skema.id == 2 or skema.id == 3 %}
                <td>{{subform.bonus}}{% if subform.errors.bonus %}<small class="error text-left">{{subform.errors.bonus}}</small>{% endif %}</td>
                {% endif %}
                <td class="autocalc-sats-dest"></td>
                <td class="autocalc-afgift-dest"></td>
                {% if request.session.impersonating %}
                <td>{{ subform.kommentar }}</td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-danger btn-sm" data-delete="{{subform.prefix}}">{% translate 'Slet' %}</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <input type="button" class="btn btn-sm btn-primary" id="js-add-product-button" value="{% translate 'Tilføj linje' %}">
    </div>
    <hr/>
    {% if object.bilag.count %}
    <div class="form-inline">
        <strong class="mr-2">{% translate 'Eksisterende bilag' %}</strong>
        {% for bilag in object.bilag.all %}
        <a class="mr-2" href="{% url 'indberetning:bilag-download' pk=bilag.uuid %}">{{bilag.filename}}</a>
        {% endfor %}
    </div>
    {% endif %}
    {{ bilag_formset.non_form_errors }}
    {{ form.non_field_errors }}
    <div id="js-bilag-wrapper">
        <table class="table-borderless">
            <tbody>
            {% for form in bilag_formset %}
            <tr data-prefix="{{form.prefix}}">
                <td class="form-inline custom-file col-12">
                    <div class="input-group">
                        <span class="form-control input-label">{% trans 'Vælg en fil' %}</span>
                        <div class="input-group-append">
                            {{ form.bilag }}
                            <label class="filebutton input-group-append btn btn-outline-grey" for="{{ form.prefix }}-bilag">
                                {% translate "Gennemse..." %}
                            </label>
                        </div>
                    </div>
                </td>
                <td class="col-1">
                    <button type="button" class="btn btn-danger" data-delete="{{form.prefix}}">{% translate 'Slet' %}</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-inline mt-2">
        <input type="button" id="js-add-bilag-button" class="btn btn-primary btn-sm" value="{% translate 'Tilføj bilag' %}">
    </div>
    <hr/>
    <div class="form-inline justify-content-end">
        <input type="submit" class="btn btn-success" value="{% translate 'Indsend' %}" />
    </div>
</form>

<div class="hidden">
    <table>
        <tbody id="js-initial-row">
        <tr class="autocalc-afgift" data-prefix="{{form.empty_form.prefix}}">
            {% if skema.id == 2 or skema.id == 3 %}
            <td>{{form.empty_form.indhandlingssted}}</td>
            {% endif %}
            {% if skema.id == 1 or skema.id == 2 %}
            <td>{{form.empty_form.fartøj_navn}}</td>
            {% endif %}
            <td>{{form.empty_form.produkttype}}</td>
            {% if skema.id != 3 %}
            <td>{{form.empty_form.produktvægt}}</td>
            {% endif %}
            <td>{{form.empty_form.levende_vægt}}</td>
            <td>{{form.empty_form.salgspris}}</td>
            <td>
                {% if skema.id == 1 %}
                {{form.empty_form.transporttillæg}}
                {% endif %}
                {% if skema.id == 2 or skema.id == 3 %}
                {{form.empty_form.bonus}}
                {% endif %}
            </td>
            <td class="autocalc-sats-dest"></td>
            <td class="autocalc-afgift-dest"></td>
            {% if request.session.impersonating %}
            <td>{{ form.empty_form.kommentar }}</td>
            {% endif %}
            <td>
                <button type="button" class="btn btn-danger btn-sm" data-delete="{{form.empty_form.prefix}}">{% translate 'Slet' %}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody id="js-bilag-empty">
        <tr data-prefix="bilag-__prefix__">
            <td class="form-inline custom-file col-12">
                <div class="input-group">
                    <span class="form-control input-label">{% trans 'Vælg en fil' %}</span>
                    <div class="input-group-append">
                        {{ bilag_formset.empty_form.bilag }}
                        <label class="filebutton input-group-append btn btn-outline-grey" for="{{bilag_formset.empty_form.prefix}}-bilag">
                            {% translate "Gennemse..." %}
                        </label>
                    </div>
                </div>
            </td>
            <td class="col-1">
                <button type="button" class="btn btn-danger btn" data-delete="{{bilag_formset.empty_form.prefix}}">{% translate 'Slet' %}</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% script id="indberetning" type="application/json" %}
{{indberetning.to_json|json_script:'indberetning'}}
{% endscript %}

{% script id="pelagiske_fiskearter" type="application/json" %}
{{pelagiske_fiskearter|json_script:'pelagiske_fiskearter'}}
{% endscript %}

{% script id="pelagiske_produkttyper" type="application/json" %}
{{pelagiske_produkttyper|json_script:'pelagiske_produkttyper'}}
{% endscript %}

{% script id="produkttype_map" type="application/json" %}
{{produkttype_map|json_script:'produkttype_map'}}
{% endscript %}

<script src="{% static 'js/cookie.js' %}" nonce="{{request.csp_nonce}}"></script>
<script nonce="{{request.csp_nonce}}">
    const boat_placeholder = "{% translate 'Vælg eller opret nyt fartøj' %}";
    const place_placeholder = "{% translate 'Vælg eller opret nyt indhandlingssted' %}";
    const rate_prkg_string = "{% translate '{rate} kr/kg' %}";
    const rate_none = "{% translate 'Ingen afgift' %}";

    const replace_repeat = function (subject, re, replacement) {
        let old = null;
        while (old !== subject) {
            old = subject;
            subject = subject.replace(re, replacement);
        }
        return subject;
    };

    const update_tsep = function() {
        let value = this.value;
        if (value !== '') {
            this.value = tsep(value);
        }
    };

    const tsep = function(value) {
        value = replace_repeat(value, /(.)-/g, '$1');
        value = value.replace(/--+/g, '-');
        value = value.replace(/[^\d,\-]/g, '');  // Strip away all non-digits and non-commas (including dots)
        parts = value.split(',', 1);
        value = replace_repeat(value, /^(-?\d+)(\d\d\d)(\.|,|$)/, '$1.$2$3');
        value = replace_repeat(value, /,([^,]+),/, ',$1');
        return value
    };

    $(document).ready(function() {
        const afgift_endpoint = $('#afgift_column').data('endpoint');
        const indberetning = JSON.parse($("#indberetning").text());
        const pelagiske_fiskearter = JSON.parse($("#pelagiske_fiskearter").text());
        const pelagiske_produkttyper = JSON.parse($("#pelagiske_produkttyper").text());
        const produkttype_map = JSON.parse($("#produkttype_map").text());
        const calculate_afgift = function() {
            const row = $(this).parents('tr');
            const prefix = row.data('prefix') + '-';
            const indberetninglinje = {
                'afgiftsperiode': indberetning['afgiftsperiode.uuid'],
                'skematype': indberetning['skematype.id']
            };
            row.find('input, select').each(function() {
                let name = $(this).attr('name');
                if (name.startsWith(prefix)) {
                    name = name.replace(prefix, '');
                }
                if ($(this).attr('data-input-tsep')) {
                    update_tsep.call(this);
                }
                indberetninglinje[name] = this.value;
            });
            if (indberetninglinje['produkttype'] && (indberetninglinje['levende_vægt'] !== '' || indberetninglinje['salgspris'] !== '')) {
                $.ajax({
                    'url': afgift_endpoint,
                    'method': 'post',
                    'data': indberetninglinje,
                    'dataType': 'json',
                    'headers': {
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    'success': function (responseObject) {
                        const afgift = responseObject['afgift'];
                        row.find('.autocalc-afgift-dest').text(tsep(afgift.replace('.', ',')));

                        const rate_procent = responseObject['rate_procent'];
                        const rate_prkg = responseObject['rate_pr_kg'];
                        const field = row.find('.autocalc-sats-dest');
                        if (rate_procent && rate_procent !== '0') {
                            field.text(rate_procent.replace('.', ',') + ' %');
                        } else if (rate_prkg && rate_prkg !== '0') {
                            field.text(rate_prkg_string.replace('{rate}', rate_prkg.replace('.', ',')));
                        } else {
                            field.text(rate_none);
                        }
                    },
                    'error': function () {
                        const field = row.find('.autocalc-sats-dest');
                        field.text('');
                    }
                });
            }
        };
        $(".autocalc-afgift input, .autocalc-afgift select").on('change', calculate_afgift);

        const togglePelagisk = function(){
            const row = $(this).parents('tr');
            const prefix = row.data('prefix') + '-';
            const selected_produkttype = row.find('select[name="'+prefix+'produkttype"]').val();
            const pelagisk_selected = (pelagiske_produkttyper.indexOf(selected_produkttype) !== -1);
            row.find('[name*="salgspris"],[name*="transporttillæg"]').toggle(!pelagisk_selected).prop('required', !pelagisk_selected);
        };
        const produkttype_selects = $('select[name*="produkttype"]');
        produkttype_selects.on('change', togglePelagisk);
        produkttype_selects.each(togglePelagisk);

        const deleteRow = function() {
            const prefix = $(this).data('delete')
            const item = $("[data-prefix='"+prefix+"']");
            if (item.siblings().length == 0) {
                const fields = item.find("input,select");
                fields.val("");
                fields.trigger("change");
                item.find('.autocalc-afgift-dest, .autocalc-sats-dest').text("");
            } else {
                item.remove();
                const form_idx = $('input[name=linje-TOTAL_FORMS]').val();
                $('input[name=linje-TOTAL_FORMS]').val(parseInt(form_idx) - 1);
            }
        };
        $('button[data-delete]').on('click', deleteRow);


        $('#js-product-table select.js-boat-select').select2({
            tags: true,
            placeholder: boat_placeholder,
            allowClear: true,
            selectOnClose: true
        });
        $('#js-product-table select.js-place-select').select2({
            tags: true,
            placeholder: place_placeholder,
            allowClear: true,
            selectOnClose: true
        });
        $('#js-product-table select.js-boat-select, #js-product-table select.js-place-select').each(function(){
            // Select2 has a tendency to autoselect the first option, even though the server hasn't set a selected option
            // Clear selection in that case
            const $this = $(this);
            if ($this.val() && !$this.find('option[selected]').length) {
                $this.val(null).change();
            }
        });
        // Focus text field on open
        // https://github.com/select2/select2/issues/5993#issuecomment-800927000
        // Deferred with a setTimeout because 'open' events are fired before 'close' events,
        // so if you have one select open and click on a second select, the second select would lose focus:
        //   selectB:open  gives focus to selectB
        //   selectA:close removes the focus again
        const handleOpen = function () {
            setTimeout(() => {
                document.querySelector('.select2-search__field').focus();
            }, 0);
        }
        $('#js-product-table select.js-boat-select').on('select2:open', handleOpen);
        $('#js-product-table select.js-place-select').on('select2:open', handleOpen);

        const handleBoatSelect = function () {
            const items = {};
            $('select.js-boat-select option').each(function (){
                items[this.value] = 1;
            });
            $('select.js-boat-select').each(function () {
                const missing = $.extend({}, items);
                $(this).find("option").each(function (){
                    delete missing[this.value];
                })
                for (let item in missing) {
                    $(this).append(new Option(item, item, false, false)).trigger('change');
                }
            });
        }
        $('#js-product-table select.js-boat-select').on('select2:select', handleBoatSelect);

        $("input[data-input-tsep]").on('blur', update_tsep);
        $('form').on('submit', function () {
            $("input[data-input-tsep]").each(update_tsep);
        });

        const addRow = function() {
            const form_idx = $('input[name=linje-TOTAL_FORMS]').val();
            $('table#js-product-table tbody').append($('tbody#js-initial-row').html().replace(/__prefix__/g, form_idx));
            $('input[name=linje-TOTAL_FORMS]').val(parseInt(form_idx)+1);
            const newRow = $('table#js-product-table tbody tr:last');
            newRow.find('select.js-boat-select').select2({
                tags: true,
                placeholder: boat_placeholder,
                allowClear: true,
                selectOnClose: true
            });
            newRow.find('select.js-place-select').select2({
                tags: true,
                placeholder: place_placeholder,
                allowClear: true,
                selectOnClose: true
            });
            newRow.find('select.js-boat-select, select.js-place-select').val(null).change();
            newRow.find("input, select").on('change', calculate_afgift);
            newRow.find('select[name*="produkttype"]').on('change', togglePelagisk);
            newRow.find('button[data-delete]').on('click', deleteRow);

            newRow.find('select.js-boat-select, select.js-place-select').on('select2:open', handleOpen);
            newRow.find('select.js-boat-select').on('select2:select', handleBoatSelect);

            newRow.find("input[data-input-tsep]").on('blur', update_tsep);
            return newRow;
        };

        const fileUpdate = function() {
            $(this).parents(".input-group").find(".input-label").text(
                $(this).val().split("\\").pop()
            );
        }

        $('input#js-add-product-button').on('click', addRow);
        $('input#js-add-bilag-button').on('click', function() {
            const totalForms = $('input[name=bilag-TOTAL_FORMS]');
            let form_idx = totalForms.val();
            $('div#js-bilag-wrapper > table > tbody').append($('#js-bilag-empty').html().replace(/__prefix__/g, form_idx))
            totalForms.val(parseInt(form_idx)+1);
            const newRow = $('div#js-bilag-wrapper > table > tbody > tr:last');
            newRow.find(".input-file").on("change", fileUpdate);
            newRow.find('button[data-delete]').on('click', deleteRow);
        });

        $(".input-file").on("change", fileUpdate);

        $(".button_modregn").on("click", function() {
            const row = $(this).parents("tr");
            const data = {};
            row.find("td").each(function () {
                const key = $(this).data("key");
                if (key) {
                    data[key] = $(this).data("value") || $(this).text().trim();
                }
            });

            let newrow;
            $('table#js-product-table tbody tr').each(function () {
                let hasValue = false;
                $(this).find("input,select").each(function() {
                    if ($(this).val()) {
                        hasValue = true;
                    }
                });
                if (!hasValue) {
                    newrow = $(this);
                }
            });
            if (!newrow) {
                newrow = addRow();
            }
            const prefix = newrow.data("prefix");
            const negate_keys = ["produktvægt", "levende_vægt", "salgspris", "transporttillæg", "bonus"]
            for (let key in data) {
                let value = data[key];
                if (negate_keys.indexOf(key) !== -1) {
                    if (value === "" || value === "0") {
                        value = "0"
                    } else {
                        value = "-" + value;
                    }
                    if (value.startsWith("--")) {
                        value = value.substring(2);
                    }
                }
                const field = newrow.find("[name='"+prefix+"-"+key+"']").first();
                if (key === "produkttype" && !field.find("option[value='"+value+"']").length) {
                    // If value is not an option, use parent group instead
                    value = produkttype_map[value];
                }
                field.val(value);
            }
            const select2s = newrow.find("[data-select2-id]");
            if (select2s.length) {
                select2s.trigger('change');
            } else {
                calculate_afgift.call(newrow.find("input").first());
            }
            $(this).prop("disabled", true);
        });

        $("ul.errorlist li").each(function () {
            const $this = $(this);
            let text = $this.text();
            text = text.replace(/(\d+)/, tsep);
            $this.text(text);
        });
    });
</script>
{% endblock %}
