{% extends "indberetning/base.html"%}
{% load i18n %}

{% block content %}
<h1>{% translate 'Indberetninger' %}</h1>

<form method="get" data-autosubmit="true">
    <div class="form-row mb-3">
        <div class="col-2">
            <label for="{{ form.afgiftsperiode.id_for_label }}">{% translate 'Vis indberetninger for' %}:</label>
        </div>
        <div class="col-4">
            {{ form.afgiftsperiode }}
        </div>
        <div class="col-4">
            {{ form.afgiftsperiode.errors }}
        </div>
        <div class="col-2 text-right">
            <a class="btn btn-success" href="{% url 'indberetning:type-select' %}">{% translate 'Opret ny indberetning'%}</a>
        </div>
    </div>
</form>

{% for indberetning in object_list %}

<div class="table-bordered p-3 mb-3">

<div class="table-responsive col-12">
    <table class="table table-sm table-bordered">
        <tbody>
        <tr>
            <th class="col-2">{% translate 'Dato' %}</th>
            <td class="col-4">{{indberetning.indberetningstidspunkt|date:"SHORT_DATE_FORMAT"}}</td>
            <td class="col-6">
                <a href="{% url 'indberetning:indberetning-edit' indberetning.uuid %}" class="btn btn-sm btn-secondary">{% translate 'Justér indberetning'%}</a>
            </td>
        </tr>
        <tr>
            <th class="col-2">{% translate 'Periode' %}</th>
            <td class="col-4">{{indberetning.afgiftsperiode}}</td>
            <td rowspan="4">
            <strong class="mr-2">{% translate 'Bilag' %}</strong>
            {% for bilag in indberetning.bilag.all %}
            <a class="mr-2" href="{% url 'indberetning:bilag-download' pk=bilag.uuid%}">{{bilag.filename}}</a>
            {% endfor %}
        </td>
        </tr>
        <tr>
            <th class="col-2">{% translate 'Indberetter CPR' %}</th>
            <td class="col-4">{{indberetning.indberetters_cpr}}</td>
        </tr>
        <tr>
            <th class="col-2">{% translate 'Skematype' %}</th>
            <td class="col-4">{{indberetning.skematype}}</td>
        </tr>
        <tr>
            <th class="col-2">{% translate 'Total beregnet afgift (kr)' %}</th>
            <td class="col-4">{{ indberetning.linjer_sum|default_if_none:'' }}{# annotation #}</td>
        </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-link" data-toggle="collapse" data-target="#linjer-{{indberetning.pk}}" aria-expanded="true" aria-controls="linjer-{{indberetning.pk}}"
        hx-trigger="click once" hx-target="#linjer-{{indberetning.pk}}" hx-swap="innerHTML" hx-get="{% url 'indberetning:indberetning-linjer' indberetning.pk %}">
    {% translate 'Indberetningslinjer' %}
</button>

<div id="linjer-{{indberetning.pk}}" class="table-responsive col-12 collapse">
</div>
</div>
{% endfor %}
<script nonce="{{request.csp_nonce}}">
    $(function () {
        $("[data-autosubmit]").find("input,select").on("change", function () {
            $(this).parents("form").first().submit();
        });
    });
</script>
{% endblock %}
