{% extends "indberetning/base.html"%}
{% load i18n %}
{% block content %}
{% if edit_mode %}
<h2>{% blocktranslate with tidspunkt=object.indberetningstidspunkt|date:"SHORT_DATE_FORMAT" %}Tidligere Indberetninger fra {{tidspunkt}}{% endblocktranslate %}</h2>
<div class="table-responsive">
    {% include 'indberetning/includes/linje_list.html' with object_list=object.linjer.all %}
</div>
<h2>{% translate 'Justerer indberetning'%}</h2>
{% else %}
<h2>{% translate 'Nye indberetninger'%}</h2>
{% endif %}
<form method="POST" enctype="multipart/form-data" action="{{ form_url }}">
    {% csrf_token %}
    {{ form.management_form }}
    {{ bilag_formset.management_form }}
    <div>
        <div class="form-inline">
            <strong class="mr-2">{% translate 'Afgiftsperiode:' %}</strong>{{ afgiftsperiode }}
        </div>
        <div class="form-inline">
            <strong class="mr-2">{% translate 'Selskab / CVR:' %}</strong> {{ request.session.cvr }}
        </div>
    </div>
    <div class="table-responsive">
        <hr />
        <table class="table table-bordered text-center table-sm" id="js-product-table">
            <thead>
            <tr>
                <th class="col-2">{% translate 'Fartøjs navn' %}</th>
                <th class="col-2">{% translate 'ProduktType'%}</th>
                <th class="col-2">{% translate 'Salgsvægt'%}</th>
                <th class="col-2">{% translate 'Levende vægt'%}</th>
                <th class="col-2">{% translate 'Salgspris'%}</th>
                {% if skema_id == 1 %}
                <th class="col-2">{% translate 'Transporttillæg'%}</th>
                {% elif skema_id == 2 or skema_id == 3 %}
                <th class="col-2">{% translate 'Bonus og andet vederlag'%}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for subform in form %}
            {{ subform.non_field_errors }}
            <tr>
                <td>{{subform.navn}}{% if form.errors.navn %}<small class="error">{{form.errors.navn}}</small>{% endif %}</td>
                <td>{{subform.produkttype}}{% if subform.errors.kategori %}<br/><small>{{subform.errors.kategori}}</small>{% endif %}</td>
                <td>{{subform.salgsvægt}}{% if subform.errors.salgsvægt %}<br/><small>{{subform.errors.salgsvægt}}</small>{% endif %}</td>
                <td>{{subform.levende_vægt}}{% if subform.errors.levende_vægt %}<br/><small>{{subform.errors.levende_vægt}}</small>{% endif %}</td>
                <td>{{subform.salgspris}}{% if subform.errors.salgspris %}<br/><small>{{subform.errors.salgspris}}</small>{% endif %}</td>
                {% if subform.transporttillæg %}
                <td>{{subform.transporttillæg}}{% if subform.errors.transporttillæg %}<br/><small>{{subform.errors.transporttillæg}}</small>{% endif %}</td>
                {% elif subform.bonus %}
                <td>{{subform.bonus}}{% if subform.errors.bonus %}<br/><small>{{subform.errors.bonus}}</small>{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <input type="button" class="btn btn-sm btn-primary" id="js-add-product-button" value="{% translate 'Tilføj linje'%}">
    </div>
    <hr/>
    {% if object.bilag.count %}
    <div class="form-inline">
        <strong class="mr-2">{% translate 'Eksisterende bilag:'%}</strong>
        {% for bilag in object.bilag.all %}
        <a class="mr-2" href="{% url 'indberetning:bilag-download' pk=bilag.uuid%}">{{bilag.filename}}</a>
        {% endfor %}
    </div>
    {% endif %}
    {{ bilag_formset.non_form_errors }}
    {{ form.non_field_errors }}
    <div id="js-bilag-wrapper">
        {% for form in bilag_formset %}
        <div class="form-inline mt-2">
            {{ form.bilag }}
        </div>
        {% endfor %}
    </div>
    <div class="form-inline mt-2">
        <input type="button" id="js-add-bilag-button" class="btn btn-primary btn-sm" value="{% translate 'Tilføj bilag' %}">
    </div>
    <hr/>
    <div class="form-inline justify-content-end">
        <input type="submit" class="btn btn-success" value="{% translate 'Indsend' %}" />
    </div>
</form>

<div style="display: none">
    <table>
        <tbody id="js-initial-row">
        <tr>
            <td>{{form.empty_form.navn}}</td>
            <td>{{form.empty_form.produkttype}}</td>
            <td>{{form.empty_form.salgsvægt}}</td>
            <td>{{form.empty_form.levende_vægt}}</td>
            <td>{{form.empty_form.salgspris}}</td>
            <td>{% if form.empty_form.transporttillæg %}{{form.empty_form.transporttillæg}}{% elif form.empty_form.bonus %}{{form.empty_form.bonus}}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <div id="js-bilag-empty">
        <div class="form-inline mt-2">
            {{ bilag_formset.empty_form.bilag }}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#js-product-table select.js-boat-select').select2({
            tags: true,
            placeholder: "Vælg eller opret nyt fartøj",
            allowClear: true
        });
        $('input#js-add-product-button').on('click', function(){
            const form_idx = $('input[name=linje-TOTAL_FORMS]').val();
            $('table#js-product-table tbody').append($('tbody#js-initial-row').html().replace(/__prefix__/g, form_idx));
            $('input[name=linje-TOTAL_FORMS]').val(parseInt(form_idx)+1);
            const newRow = $('table#js-product-table tbody tr:last');
            newRow.find('select.js-boat-select').select2({
                tags: true,
                placeholder: "Vælg eller opret nyt fartøj",
                allowClear: true
            });
        });
        $('input#js-add-bilag-button').on('click', function(){
            let form_idx = $('input[name=bilag-TOTAL_FORMS]').val();
            $('div#js-bilag-wrapper').append($('div#js-bilag-empty').html().replace(/__prefix__/g, form_idx))
            $('input[name=bilag-TOTAL_FORMS]').val(parseInt(form_idx)+1);
        });
    });
</script>
{% endblock %}
