{% extends "indberetning/base.html"%}
{% block content %}
<h1>Indberetning af ressourcerenter</h1>
<h2>Indberetninger for 1/9-2021 til 31/12-2021</h2>
<div class="table-responsive">
    {% include 'indberetning/includes/indberetnings_list.html' %}
</div>
<div class="row justify-content-center">
    <form class="form-inline">
        <select class="js-example-basic-single form-control mb-2 mr-sm-2" autocomplete="off">
            <option> 3. kvartal 2021</option>
            <option> 4. kvartal 2021</option>
        </select>
        <submit class="btn btn-sm btn-success">Opret ny indberetning</submit>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2({
            minimumResultsForSearch: Infinity
        });
    });
</script>
{% endblock %}
