{% extends "indberetning/base.html"%}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="formContent">
            <h2>Indberetninger for 4. kvartal 2021</h2>
            <div class="table-responsive">
                {% include 'indberetning/includes/indberetnings_list.html' %}
            </div>
            <div class="row justify-content-center">
                <form class="form-inline">
                    <input type="submit" class="button--highlight" value="Opret ny indberetning"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
