{% extends "indberetning/base.html" %}
{% load crispy_forms_tags %}

{% block extra_head_content %}
<style type="text/css">
    body { margin: 0; padding: 0; font-size: 0.9em; }
    main.container {
        width: auto;
        max-width: none;
        margin: 1em;
    }
    table th, table td {
        margin: 0;
        padding: 0;
        border: 1px solid black;
    }
    table th { text-align: center; padding: 0 1em; }
    table td { text-align: right; padding: 0 0.25em; }
    table td.align-left { text-align: left; }
    table td.output { background-color: #dddddd; }
    table td.product-cell { max-width: 15em; }
    table input[type=text] {
        margin: 0;
        padding: 0;
        text-align: right;
    }
    th.product-cell-heading { min-width: 20em; }
    div.layout-container { margin-top: 1em; }
    #previous-table { font-size: 0.9em; }
</style>
{% endblock %}

{% block content %}
    <h1>Indberetning af ressourcerenter</h1>
    <h2>Tidligere indberetninger for 2. kvartal 2020</h2>
    <div>
        <table id="previous-table">
            <thead>
                <th>Fartøjs navn</th>
                <th>Produkt</th>
                <th>Mængde produktionvægt</th>
                <th>Omregningsfaktor</th>
                <th>Mængde levende vægt</th>
                <th>Salgsværdi</th>
                <th>Transporttillæg</th>
                <th>Salgsværdi i alt / afgiftsgrundlag</th>
                <th>Afgifssats</th>
                <th>Afgift til betaling</th>
            </thead>
            <tbody>
                <tr data-category="Eksport" data-fish="Rejer - fisket ved Svalbard og i Barenshavet" data-product="Rå, isede">
                    <td>MS Unsinkable II</td>
                    <td class="product-cell align-left">Eksport / Rejer - fisket ved Svalbard og i Barenshavet / Rå, isede</td>
                    <td class="weight-cell output">-</td>
                    <td class="conversion-factor-cell output">-</td>
                    <td class="living-cell output">-</td>
                    <td class="sale-value-cell">50000</td>
                    <td class="transport-adjustment-cell">10000</td>
                    <td class="total-sale-value-cell">60000</td>
                    <td class="rate-cell">8%</td>
                    <td class="calculated-tax">4800</td>
                </tr>
                <tr data-category="Indhandling" data-fish="Torsk - fra havgående" data-product="Uden hoved, uden involde - straight cut off">
                    <td>MS Unsinkable II</td>
                    <td class="product-cell align-left">Indhandling / Torsk - fra havgående / Uden hoved, uden involde - straight cut off</td>
                    <td class="weight-cell">26000</td>
                    <td class="conversion-factor-cell">1.55</td>
                    <td class="living-cell">40300</td>
                    <td class="sale-value-cell output">-</td>
                    <td class="transport-adjustment-cell output">-</td>
                    <td class="total-sale-value-cell output">-</td>
                    <td class="rate-cell">0.05 kr./kg</td>
                    <td class="calculated-tax">2015</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <h2>Nye indberetninger</h2>
    <div>
        <div><strong>Kvartal / år:</strong> 2. kvartal 2020 (valgt på siden før)</div>
        <div><strong>Selskab / CVR:</strong> 12345678 (hente fra indberetters login)</div>
        <div>
            <strong>Fartøjs navn:</strong> <input type="text" id="ship-name" name="ship-name" value="M/S Unsinkable II" />
            Brug tidligere anvendt værdi:
            <select id="previous-ship-names" name="previous-ship-names">
                <option value="">[Vælg tidligere værdi]</option>
                <option value="M/S Unsinkable II">M/S Unsinkable II</option>
                <option value="M/S Baljen">M/S Baljen</option>
            </select>
        </div>
    </div>
    <div class="layout-container">
        <hr />
        <table id="product-table">
            <thead>
                <tr>
                    <th class="product-cell-heading">Produkt</th>
                    <th>Mængde produktionvægt</th>
                    <th>Omregningsfaktor</th>
                    <th>Mængde levende vægt</th>
                    <th>Salgsværdi</th>
                    <th>Transporttillæg</th>
                    <th>Salgsværdi i alt / afgiftsgrundlag</th>
                    <th>Afgifssats</th>
                    <th>Afgift til betaling</th>
                </tr>
            </thead>
            <tbody>
                <tr id="templaterow" style="display: none;">
                    <td class="product-cell align-left">Produkt</td>
                    <td class="weight-cell">
                        <input type="text" name="product-weight" class="product-weight-input" value="0" />
                    </td>
                    <td class="conversion-factor-cell">1.00</td>
                    <td class="living-cell">
                        <span class="living-weight-value">0</span>
                    </td>
                    <td class="sale-value-cell">
                        <input type="text" name="sale-value" class="sale-value-input" value="0" />
                    </td>
                    <td class="transport-adjustment-cell">
                        <input type="text" name="transport-adjustment" class="transport-adjustment-input" value="0" />
                    </td>
                    <td class="total-sale-value-cell">0</td>
                    <td class="rate-cell">0</td>
                    <td class="calculated-tax">0</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>
    <div class="layout-container">
        <span>Tilføj nyt produkt:</span>
        <select name="category" class="category-select">
            <option value="">Vælg kategori</option>
        </select>
        <select name="fishtype" class="fishtype-select">
            <option value="">Vælg fisketype</option>
        </select>
        <select name="product" class="product-select">
            <option value="">Vælg produkt</option>
        </select>
        <input type="button" value="Tilføj produkt" id="add-product-button" />
        <hr />
    </div>
    <div class="layout-container">
        <label for="attachment">Vedhæft bilag:</label>
        <input id="attachment" type="file" name="attachment" />
    </div>
    <div class="layout-container">
        <input type="button" value="Indsend" />
    </div>
{% endblock %}

{% block extra_body_end_content %}
<script type="text/javascript">
var RRdata = window.RRdata || {};
(function(RRdata, $) {
    RRdata.categories = {{ rate_data_json|safe }};
    RRdata.categories_by_label = {};

    $.each(RRdata.categories, function(i, category) {
        RRdata.categories_by_label[category.label] = category;
        category.fish_by_label = {};
        $.each(category.fishtypes, function(i, fish) {
            category.fish_by_label[fish.label] = fish;
            fish.products_by_label = {}
            // Append custom product choice
            fish.products.push({
                label: "Andet / tilpasset ...",
                factor: 1.0,
            })
            $.each(fish.products, function(i, product) {
                fish.products_by_label[product.label] = product
            });
        });
    });

    function populate_dropdown($select, item_list) {
        // Remove all options that has a value
        $select.find("option").filter(function() { return this.value }).remove();
        $.each(item_list, function(i, item) {
            let $option = $('<option>').val(item.label).text(item.label);
            $select.append($option);
        })
    }

    populate_dropdown($('select[name=category]'), RRdata.categories);

    function recalculate_row($row) {
        let category_val = $row.attr("data-category") || '',
            fish_val = $row.attr("data-fish") || '',
            product_val = $row.attr("data-product") || '',
            category = RRdata.categories_by_label[category_val],
            fish = category.fish_by_label[fish_val],
            product = fish.products_by_label[product_val];

        if(!product) {
            return;
        }

        if(selected_fish.rate_type == "procent") {
            let sale_value = parseFloat($row.find('input.sale-value-input').val()),
                transport_value = parseFloat($row.find('input.transport-adjustment-input').val()),
                total_value = sale_value + transport_value,
                rate = fish.rate,
                calculated_tax = rate * total_value / 100;

            $row.find('td.total-sale-value-cell').html(total_value);
            $row.find('td.calculated-tax').html(calculated_tax);
        } else if(selected_fish.rate_type == "per_kg") {
            let weight = parseFloat($row.find('input.product-weight-input').val()),
                factor = parseFloat($row.find('td.conversion-factor-cell').text()),
                living_weight = weight * factor,
                rate = fish.rate
                calculated_tax = rate * living_weight;

            $row.find('td.living-cell').html(living_weight);
            $row.find('td.calculated-tax').html(calculated_tax);
        }
    }

    let selected_category = null,
        selected_fish = null,
        selected_product = null;

    $('select.category-select').on("change", function() {
        let $this = $(this),
            selected_value = $this.val() || '';

        selected_category = RRdata.categories_by_label[selected_value];

        if(selected_category) {
            let $select = $this.parent().parent().find(
                "select.fishtype-select"
            ).first()
            populate_dropdown(
                $select,
                selected_category.fishtypes,
            );
            $select.show();
        }
    });

    $('select.fishtype-select').on("change", function() {
        let $this = $(this)
            selected_value = $this.val() || '';

        selected_fish = selected_category.fish_by_label[selected_value];

        if(selected_fish) {
            let $select = $this.parent().parent().find(
                    "select.product-select"
                ).first();
            populate_dropdown(
                $select,
                selected_fish.products,
            );
            $select.show();
        }
    });

    $('#add-product-button').on("click", function() {
        let html = $('#templaterow').html(),
            $new_elem = $("<tr>").html(html),
            selected_value = $('select.product-select option:selected').val(),
            selected_product = selected_fish.products_by_label[selected_value];


        // Set text in product cell
        $new_elem.find('td.product-cell').text(
            $('select.category-select option:selected').text() + " / " +
            $('select.fishtype-select option:selected').text() + " / " +
            $('select.product-select option:selected').text()
        );
        // Set values of cells
        if(selected_fish.rate_type == "procent") {
            $new_elem.find('td.weight-cell').html("-").addClass("output");
            $new_elem.find('td.conversion-factor-cell').html("-").addClass("output");
            $new_elem.find('td.living-cell').html("-").addClass("output");
            $new_elem.find('td.rate-cell').html(selected_fish.rate + "%");
        } else if(selected_fish.rate_type == "per_kg") {
            $new_elem.find('td.sale-value-cell').html("-").addClass("output");
            $new_elem.find('td.transport-adjustment-cell').html("-").addClass("output");
            $new_elem.find('td.total-sale-value-cell').html("-").addClass("output");
            $new_elem.find('td.conversion-factor-cell').html(selected_product.factor)
            $new_elem.find('td.rate-cell').html(selected_fish.rate + " kr./kg");
        }

        // Set value of rate column
        $new_elem.find("td.rate-cell").text(selected_product.rate);

        // Recalculate on input changes
        $new_elem.find("input[type=text]").on("change", function() {
            recalculate_row($new_elem);
        });

        $new_elem.attr("data-category", selected_category.label);
        $new_elem.attr("data-fish", selected_fish.label);
        $new_elem.attr("data-product", selected_product.label);

        // Calculate values
        recalculate_row($new_elem);

        // add element and show it
        $('#product-table tbody').append($new_elem);
        $new_elem.show();
    });

    $('#previous-ship-names').on("change", function() {
        if($(this).val()) {
            $('#ship-name').val($(this).val());
        }
    })
})(RRdata, jQuery);
</script>
{% endblock %}
