{% extends "indberetning/base.html"%}
{% block content %}
<div class="row justify-content-center">
    <form>
        <div class="form-group mt-2">
            <label for="js-type-select">Type af indberetning</label>
            <select id="js-type-select" class="form-control">
                <option>Fartøj</option>
                <option>Fabrik/indhandlingssted</option>
            </select>
        </div>
        <div class="form-group">
            <label for="js-periode-select">Indberetningsperiode</label>
            <select id="js-periode-select" class="form-control">
                <option> 4. kvartal 2021</option>
                <option> 3. kvartal 2021</option>
            </select>
        </div>
        <div class="text-center">
            <submit class="btn btn-sm btn-success">Opret ny indberetning</submit>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('select#js-type-select').select2({
            minimumResultsForSearch: Infinity
        });
        $('select#js-periode-select').select2({
            minimumResultsForSearch: Infinity
        });
    });
</script>
{% endblock %}
