{% extends "indberetning/base.html"%}
{% load i18n %}
{% block content %}
<div class="row justify-content-center">
    <form method="POST", action=".">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label for="{{ form.skema.id_for_label }}">{% translate 'Type af indberetning' %}</label>
            {{form.skema}}
        </div>
        <div class="form-group">
            <label for="{{ form.periode.id_for_label }}">{% translate 'Indberetningsperiode' %}</label>
            {{form.periode}}
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-sm btn-success" value="{% translate 'Opret ny indberetning' %}"/>
        </div>
    </form>
</div>
{% endblock %}
